{% extends 'base.app.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header mt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1 me-5">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <input type="text" data-kt-statuss-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="{{'Chercher status'| trans}}" />
                        </div>
                        <!--end::Search-->
                    </div>
                    <!--end::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Button-->
                        <button type="button" id="kt_modal_add_status_button" class="btn btn-light-primary {% if pCreate is defined and pCreate  == false %}d-none{% endif %}" data-bs-toggle="modal" data-bs-target="#kt_modal_add_status">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"> 
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Nouvel{% endtrans %}</button>

                        <button type="button" id="kt_modal_add_status_reload_button" class="btn btn-light-primary d-none">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Nouvel{% endtrans %}</button>
                        <!--end::Button-->

                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0" id="kt_statuss_table">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                <th class="w-10px pe-2">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                    <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_statuss_table .form-check-input" value="1" />
                                    </div>
                                </th> 
                                <th class="min-w-125px">{% trans %}Nom{% endtrans %}</th>
                                <th class="min-w-125px">{% trans %}Code{% endtrans %}</th>
                                <th class="min-w-125px">{% trans %}Description{% endtrans %}</th>
                                <th class="min-w-100px">{% trans %}Créé le{% endtrans %}</th>
                                <th class="min-w-100px">{% trans %}Dernière modification{% endtrans %}</th>
                                <th class="text-end min-w-100px">{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="fw-bold text-gray-600">
                         
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
            <!--begin::Modals-->
            <!--begin::Modal - Add statuss-->
            <div class="modal fade" id="kt_modal_add_status" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                <!--begin::Modal dialog-->
                <div class="modal-dialog modal-dialog-centered mw-650px">
                    <!--begin::Modal content-->
                    <div class="modal-content">
                        <!--begin::Modal header-->
                        <div class="modal-header">
                            <!--begin::Modal title-->
                            <h2 class="fw-bolder" id="kt_modal_add_status_text">{% trans %}Nouvel status{% endtrans %}</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-statuss-modal-action="close">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                            <!--end::Close-->
                        </div>
                        <!--end::Modal header-->
                        <!--begin::Modal body-->
                        <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                            <!--begin::Notice-->
                            <div id="kt_modal_add_status_notice" class="notice d-none d-flex bg-light-danger rounded border-danger border border-dashed mb-9 p-6">
                                <!--begin::Icon-->
                                <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                                <span class="svg-icon svg-icon-2tx svg-icon-danger me-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
                                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
                                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--end::Icon-->
                                <!--begin::Wrapper-->
                                <div class="d-flex flex-stack flex-grow-1">
                                    <!--begin::Content-->
                                    <div class="fw-bold">
                                        <div class="fs-6 text-gray-700">
                                        <strong class="me-1">{% trans %}Attention{% endtrans %}</strong>
                                        {% trans %}En éditant cette status, vous pouvez porter atteinte
                                        au bon fonctionnement du système. Soyez sûre avant de procéder à cette opération{% endtrans %}</div>
                                    </div>
                                    <!--end::Content-->
                                </div>
                                <!--end::Wrapper-->
                            </div>
                            <!--end::Notice-->
                            <!--begin::Form-->
                            {{ form_start(statusform, {'attr':{'id':'kt_modal_add_status_form'}}) }}
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Row-->
                                    <div class="row">
                                        <div class="col-md-6 fv-row mt-2">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-bolder form-label mb-2">
                                                <span class="required">{% trans %}Nom du status{% endtrans %}</span>
                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            {{ form_row(statusform.name, {'attr': {'class': 'form-control form-control-solid','maxlength': 50,
                                            'placeholder': 'Entrer le nom du status'|trans }}) }}
                                            <input type="hidden" id="status_id" name="status_id" value="0">
                                            <!--end::Input-->
                                        </div>
                                        <div class="col-md-6 fv-row mt-2">
                                            <!--begin::Label-->
                                            <label class="fs-5 fw-bolder form-label mb-2">
                                                <span class="required">{% trans %}Code du status{% endtrans %}</span>
                                            </label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            {{ form_row(statusform.code, {'attr': {'class': 'form-control form-control-solid','maxlength': 50,
                                            'placeholder': 'Entrer le code'|trans }}) }}
                                            <!--end::Input-->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Input group-->
                                 <!--begin::Input-->
                                 <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fs-5 fw-bolder form-label mb-2">
                                        <span class=""> {% trans %}Description{% endtrans %}</span>
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea class="form-control form-control-solid" minlength="5" maxlength="50" required="required"  style="resize:none" rows="3" 
                                    cols="50" placeholder="{{'Saisir la description'| trans}}" name="description" id="description"/></textarea>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input-->
                                <!--begin::Actions-->
                                <div class="text-center pt-15">
                                    <button type="reset" class="btn btn-light me-3" data-kt-statuss-modal-action="cancel">{{'Annuler'| trans}}</button>
                                    <button type="submit" class="btn btn-primary" data-kt-statuss-modal-action="submit">
                                        <span class="indicator-label">{{'Soumettre'| trans}}</span>
                                        <span class="indicator-progress">{{'Veuillez patienter'| trans}}...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                    </button>
                                </div>
                                <!--end::Actions-->
                            {{ form_end(statusform) }}
                            <!--end::Form-->
                        </div>
                        <!--end::Modal body-->
                    </div>
                    <!--end::Modal content-->
                </div>
                <!--end::Modal dialog-->
            </div>
            <!--end::Modal - Add statuss-->
            <!--end::Modals-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
    <!--end::Post-->
</div>
{% endblock %}


{% block javascripts %} 
<script type="text/javascript">
    const formModalButton    = $("#kt_modal_add_status_button");
	const pEdit              = {{pEdit}};
	const pDelete            = {{pDelete}};
    const list_link          = "{{path('app_status_list')}}";
    const add_link           = "{{path('app_status_add')}}";
    const csrfToken          = "{{ csrf_token(app.user.uid) }}"
</script>
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="{{ asset('app/plugins/custom/datatables/datatables.bundle.js') }}"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="{{ asset('app/js/queries/status/list.js') }}"></script>
<script src="{{ asset('app/js/queries/status/add.js') }}"></script>
<script src="{{ asset('app/js/queries/status/update.js') }}"></script>
<script src="{{ asset('app/js/queries/status/delete.js') }}"></script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
{% endblock %}