{% extends 'base.app.html.twig' %}

{% block title %}{{ title }} {% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl"> 
            <!--begin::Row-->
            <div class="row g-5 g-xl-10">
                <!--begin::Col-->
                <div class="col-xl-4 mb-xl-10">
                    <!--begin::Lists Widget 19-->
                    <div class="card card-flush h-xl-100">
                        <!--begin::Heading-->
                        <div class="card-header rounded bgi-no-repeat bgi-size-cover bgi-position-y-top bgi-position-x-center align-items-start h-250px" style="background-image:url({{ asset('app/media/dashboard/top-green.png') }})">
                            <!--begin::Title-->
                            <h3 class="card-title align-items-start flex-column text-white pt-15">
                                <span class="fw-bolder fs-2x mb-3"> {% trans %}Salut{% endtrans %} , {{ app.user.usetting.firstName|upper}}</span>
                                <div class="fs-4 text-white">
                                    <span class="opacity-75">{% trans %}Bénéficiez de la{% endtrans %}</span>
                                    <span class="position-relative d-inline-block">
                                        <a href="javascript:;" style="color: #fc6" class="link-info opacity-75-hover fw-bolder d-block mb-1">{% trans %}puissance{% endtrans %}</a>
                                        <!--begin::Separator-->
                                        <span class="position-absolute opacity-50 bottom-0 start-0 border-2 border-white border-bottom w-100"></span>
                                        <!--end::Separator-->
                                    </span>
                                    <span class="opacity-75">{% trans %}des{% endtrans %} SMS</span>
                                </div>
                            </h3>
                            <!--end::Title-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Body-->
                        <div class="card-body mt-n20">
                            <!--begin::Stats-->
                            <div class="mt-n20 position-relative">
                                <!--begin::Row-->
                                <div class="row g-3 g-lg-6">
                                     <!--begin::Illustration-->
                                <div class="flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom h-200px mh-200px my-5 my-lg-12" style="background-image:url({{ asset('app/media/dashboard/sms.png') }}"></div>
                                <!--end::Illustration-->
                                </div>
                                <!--end::Row-->
                            </div>
                              <!--begin::Links-->
                            <div class="text-center mb-1">
                                <!--begin::Link-->
                                {% if brand.name == "FASTERMESSAGE" %}
                                    <a  href="{{ path('brand') }}" class="btn btn-sm btn-primary me-2">{% trans %}Devenir revendeur{% endtrans %}</a>
                                {% else %}
                                    <a  href="{{ path('campaign_sms') }}" class="btn btn-sm btn-primary me-2">{% trans %}Envoyer un SMS{% endtrans %}</a>
                                {% endif %}
                                <!--end::Link-->
                                <!--begin::Link-->
                                <a class="btn btn-sm btn-light" href="{{ path('app_developer') }}">{% trans %}API développeur{% endtrans %}</a>
                                <!--end::Link-->
                            </div>
                            <!--end::Links-->
                            <!--end::Stats-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Lists Widget 19-->
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-8 mb-5 mb-xl-10">
                    <!--begin::Row-->
                    <div class="row g-5 g-xl-10">
                        <!--begin::Col-->
                        <div class="col-xl-12 mb-xl-10 card card-flush p-4">

                            <div id="kt_carousel_3_carousel" class="carousel carousel-custom slide" data-bs-ride="carousel" data-bs-interval="8000">
                                <!--begin::Heading-->
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <!--begin::Label-->
                                    <span class="fs-4 fw-bolder pe-2">Title</span>
                                    <!--end::Label-->

                                    <!--begin::Carousel Indicators-->
                                    <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
                                        <li data-bs-target="#kt_carousel_3_carousel" data-bs-slide-to="0" class="ms-1 active"></li>
                                        <li data-bs-target="#kt_carousel_3_carousel" data-bs-slide-to="1" class="ms-1"></li>
                                        <li data-bs-target="#kt_carousel_3_carousel" data-bs-slide-to="2" class="ms-1"></li>
                                    </ol>
                                    <!--end::Carousel Indicators-->
                                </div>
                                <!--end::Heading-->

                                <!--begin::Carousel-->
                                <div class="carousel-inner pt-8">
                                    <!--begin::Item-->
                                    <div class="carousel-item active">
                                        ...
                                    </div>
                                    <!--end::Item-->

                                    <!--begin::Item-->
                                    <div class="carousel-item">
                                        ...
                                    </div>
                                    <!--end::Item-->

                                    <!--begin::Item-->
                                    <div class="carousel-item">
                                        ...
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Carousel-->
                            </div>
                            <!--begin::Action-->
                            <div class="mb-1 mt-4">
                                <a href="{{ path('campaign_sms')}}" class="btn btn-primary me-2">{% trans %}SMS{% endtrans %}</a>
                                <a href="{{ path('campaign_sms')}}" style="background: #fc6" class="btn me-2">{% trans %}Créer une Campagne{% endtrans %}</a>
                                <a href="{{ path('app_contact_index')}}" class="btn btn-light me-2">{% trans %}API SMS{% endtrans %}</a>
                                <a href="{{ path('app_contact_index')}}" class="btn btn-success">{% trans %}Importer des contacts{% endtrans %}</a>
                            </div>
                            <!--end::Action-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->  
                    
                    <!--begin::Engage widget 4-->
                    <div class="card" style="background: {% if brand.name == "FASTERMESSAGE" %}  #003366  {% else %} #010246 {% endif %};">
                        <!--begin::Body-->
                        <div class="card-body d-flex ps-xl-15">
                            <!--begin::Action-->
                            <div class="m-0">
                                <!--begin::Title-->
                                <div class="position-relative fs-2x z-index-2 fw-bolder text-white mb-7">
                                <span class="me-2"> {% trans %}Vous avez besoin de {% endtrans %}
                                <span class="position-relative d-inline-block text-warning">
                                    <a href="{{ path('app_recharge')}}" style="color: #fc6" class="opacity-75-hover">{% trans %}crédit SMS {% endtrans %} !</a>
                                    <!--begin::Separator-->
                                    <span class="position-absolute opacity-50 bottom-0  start-0 border-4 border-bottom w-100" style="color: #fc9"></span>
                                    <!--end::Separator-->
                                </span></span>{% trans %}Rechargez votre compte en quelques secondes{% endtrans %}</div>
                                <!--end::Title-->
                                <!--begin::Action-->
                                <div class="mb-3">
                                    <a href='{{ path('app_recharge')}}' class="btn fw-bold me-2" style="background: #fc6">
                                    {% trans %}Recharger mon compte{% endtrans %}</a>
                                    <a href="{{ path('sender')}}" style="background: #fff" class="btn bg-hover-opacity-25 fw-bold">{% trans %}Créer un identifiant{% endtrans %}</a>
                                </div>
                                <!--begin::Action-->
                            </div>
                            <!--begin::Action-->
                            <!--begin::Illustration-->
                            <img src="{{ asset('app/media/dashboard/notification.png') }}" class="position-absolute  me-3 bottom-0 end-0 h-150px" alt="" />
                            <!--end::Illustration-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Engage widget 4-->
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Row-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
{% endblock %}



{% block javascripts %}
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="{{ asset('app/plugins/custom/vis-timeline/vis-timeline.bundle.js') }}"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="{{ asset('app/js/widgets.bundle.js') }}"></script>
<script src="{{ asset('app/js/custom/widgets.js') }}"></script>
<script src="{{ asset('app/js/custom/apps/chat/chat.js') }}"></script>
<script src="{{ asset('app/js/custom/utilities/modals/upgrade-plan.js') }}"></script>
<script src="{{ asset('app/js/custom/utilities/modals/create-app.js') }}"></script>
<script src="{{ asset('app/js/custom/utilities/modals/users-search.js') }}"></script>
<!--end::Page Custom Javascript-->
{% endblock %}
