{% extends 'base.login.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <!--begin::Wrapper-->
    <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto border border-dashed border-primary">
        {% include 'section/login.intl.dropdown.html.twig' %}
        <!--begin::Form-->
        {% include 'registration/form.html.twig' %}
        <!--end::Form-->
    </div>
    <!--end::Wrapper-->
{% endblock %}

{% block javascripts %} 
<!--begin::Page Custom Javascript(used by this page)-->
<script>
    const register_url = "{{path('app_register')}}";
    const login_url    = "{{path('app_login', {'slug': 'registered'})}}";
</script>
<script src="{{ asset('app/js/queries/authentication/sign-up/general.js') }}"></script>
<!--end::Page Custom Javascript-->
{% endblock %}