{% extends 'base.login.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <!--begin::Wrapper-->
    <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto border border-dashed border-primary">
        {% include 'section/login.intl.dropdown.html.twig' %}
        <!--begin::Form-->
         {{ form_start(registrationForm,{'attr': {'class': 'form w-100','novalidate': 'novalidate','id':'kt_sign_up_form' }}) }}
        {#<form class="form w-100" novalidate="novalidate" id="kt_sign_up_form">#}
            <!--begin::Heading-->
            <div class="mb-10 text-center">
                <!--begin::Title-->
                <h1 class="text-dark mb-3">{% trans %}Créer un compte {% endtrans %}</h1>
                <!--end::Title-->
                <!--begin::Link-->
                <div class="text-gray-400 fw-bold fs-4">{% trans %}Vous avez déjà un compte {% endtrans %}?
                <a href="{{ path('app_login') }}" class="link-primary fw-bolder">{% trans %}Connectez-vous {% endtrans %}</a></div>
                <!--end::Link-->
            </div>
            <!--end::Heading-->
            <!--begin::Input group-->
            <div class="row fv-row mb-7">
                <!--begin::Col-->
                <div class="col-xl-12">
                    <label class="form-label fw-bolder text-dark fs-6 required">{% trans %}Email{% endtrans %}</label>
                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control form-control-lg form-control-solid',
                    'type': 'email','placeholder': 'monemail@...com' ,'value' : 'admin@urban-technology.net' }}) }}
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
             <!--begin::Input group-->
            <div class="row fv-row mb-7">
                <!--begin::Col-->
                <div class="col-xl-12">
                    <label class="form-label fw-bolder text-dark fs-6 required">{% trans %}Téléphone{% endtrans %} </label>
                    {{ form_row(registrationForm.phone, {'attr': {'class': 'form-control tel form-control-lg form-control-solid', 
                    'value' : '22952734444', onkeyup:'verif_nombre(this)' }}) }}
                </div>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="mb-10 fv-row">
                <!--begin::Col-->
                <div class="col-xl-12">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">{{ "Devise du compte" | trans }}</label>
                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{"Devise de monnaie de votre compte"| trans}}"></i>
                    <!--end::Label-->
                   <!--begin::Select2-->
                    <select name="currency" id="user_currency" data-kt-user-settings-type="select2_flags"  data-allow-clear="true"
                        data-placeholder="{{'Sélection de devise' | trans}}" aria-label="{{'Sélection de devise' | trans}}" 
                        data-control="select2" data-placeholder="{{'Sélection de devise' | trans}}" 
                        class="form-select form-select-solid form-select-lg">
                        {% include 'section/currency.option.html.twig' %}
                    </select>
                    <!--end::Select2-->
                    <input type="hidden" name="currency_name" id="user_currency_name" value="">
                </div>
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="mb-10 fv-row">
                <!--begin::Col-->
                <div class="col-xl-12">
                    <!--begin::Label-->
                    <label class="required fw-bold fs-6 mb-2">{{ "Votre pays" | trans }}</label>
                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{"Votre pays de résidence"| trans}}"></i>
                    <!--end::Label-->
                   <!--begin::Select2-->
                    <select id="kt_user_add_select2_country" data-allow-clear="true" data-control="select2"
                    class="form-select form-select-solid lh-1 py-3" name="country" data-placeholder="{{'Sélection de pays' | trans}}" 
                    data-kt-user-settings-type="select2_flags"/>
                        {% include 'section/country.option.html.twig' %}
                    </select>
                    <!--end::Select2-->
                </div>
            </div>
            <!--end::Input group-->
            <div class="mb-10 fv-row" data-kt-password-meter="true">
                <!--begin::Wrapper-->
                <div class="mb-1">
                    <!--begin::Label-->
                    <label class="form-label fw-bolder text-dark fs-6 required">{% trans %}Mot de passe{% endtrans %}</label>
                    <!--end::Label-->
                    <!--begin::Input wrapper-->
                    <div class="position-relative mb-3">
                        {{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control form-control-lg form-control-solid',
                        value: '@21061AdminDefault','maxlength': '30' }}) }}
                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                            <i class="bi bi-eye-slash fs-2"></i>
                            <i class="bi bi-eye fs-2 d-none"></i>
                        </span>
                    </div>
                    <!--end::Input wrapper-->
                    <!--begin::Meter-->
                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                    </div>
                    <!--end::Meter-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Hint-->
                <div class="text-muted">{% trans %}Utilisez 8 caractères ou plus avec un mélange de lettres, de chiffres et de symboles.{% endtrans %}</div>
                <!--end::Hint-->
            </div>
            <!--end::Input group=-->
            <!--begin::Input group-->
            <div class="fv-row mb-5">
                <label class="form-label fw-bolder text-dark fs-6 required">{% trans %}Confirmez le mot de passe{% endtrans %}</label>
                 {{ form_row(registrationForm.confirm_password, {'attr': {'class': 'form-control form-control-lg form-control-solid',
                        value: '@21061AdminDefault','maxlength': '30' }}) }}
            </div>
            <!--end::Input group-->
            <!--begin::Row-->
            <div class="fv-row mb-10">
                <label class="form-check form-check-custom form-check-solid form-check-inline mb-5">
                    <input class="form-check-input" type="checkbox" name="toc" value="1" />
                    <span class="form-check-label fw-bold text-gray-700">{% trans %}J'accepte les{% endtrans %}
                    <a href="javascript:;" class="link-primary ms-1">{% trans %}termes et conditions d'utilisation{% endtrans %}</a>.</span>
                </label>
            </div>
            <!--end::Row-->
            <!--end::Input group-->
            <!--begin::Actions-->
            <div class="text-center">
                <button type="submit" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
                    <span class="indicator-label">{% trans %}Inscription{% endtrans %}</span>
                    <span class="indicator-progress">{% trans %}Patienter...{% endtrans %}
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
            </div>
            <!--end::Actions-->
        {#</form>#}
        {{ form_end(registrationForm) }}
        <!--end::Form-->
    </div>
    <!--end::Wrapper-->
{% endblock %}

{% block javascripts %} 
<!--begin::Page Custom Javascript(used by this page)-->
<script>
    const register_url = "{{path('app_register')}}";
    const login_url    = "{{path('app_login', {'slug': 'registered'})}}";
</script>
<script src="{{ asset('app/js/queries/authentication/sign-up/general.js') }}"></script>
<!--end::Page Custom Javascript-->
{% endblock %}