{% extends 'base.app.html.twig' %}

{% block title %}{{"Mes messages SMS"|trans}} - {{brand.name}}{% endblock %}

{% block body %}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
		<!--begin::Toolbar-->
		<!--begin::Card-->
		<div class="card card-flush mb-5">
			<div class="card-body row pt-5">
				<!--begin::Col-->
				<div class="col-md-12 mt-5">
					<!--begin::Col header-->
					<span class="fs-6 text-gray-400 fw-bold ms-1" id="info_periode"></span>
					<!--end::Col header-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<div class="col-md-3 mt-0">
					<!--begin::Col header-->
					<div class="mb-2">
						<div class="d-flex flex-stack mb-2 px-2">
							<div class="fw-bolder fs-4">{{"Programmées"|trans}}
							<span class="text-gray-400 ms-2" id="count_programming">0</span></div>
							<!--begin::Menu-->
							{# <div class="fs-8">
								<span class="ms-2" id="amount_programming">0</span><span class="ms-2" id="amount-currency">XOF</span>
							</div> #}
							<!--end::Menu-->
						</div>
						<div class="h-3px w-100 bg-primary"></div>
					</div>
					<!--end::Col header-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<div class="col-md-3 mt-0">
					<!--begin::Col header-->
					<div class="mb-2">
						<div class="d-flex flex-stack mb-2 px-2">
							<div class="fw-bolder fs-4">{{"En cours"|trans}}
							<span class="text-gray-400 ms-2" id="count_in_progress">0</span></div>
							<!--begin::Menu-->
							{# <div class="fs-8">
								<span class="ms-2" id="amount_in_progress">0</span><span class="ms-2" id="amount-currency">XOF</span>
							</div> #}
							<!--end::Menu-->
						</div>
						<div class="h-3px w-100 bg-warning"></div>
					</div>
					<!--end::Col header-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<div class="col-md-3 mt-0">
					<!--begin::Col header-->
					<div class="mb-2">
						<div class="d-flex flex-stack mb-2 px-2">
							<div class="fw-bolder fs-4">{{"Echoués"|trans}}
							<span class="text-gray-400 ms-2" id="count_invalid">0</span></div>
							<!--begin::Menu-->
							{# <div class="fs-8">
								<span class="ms-2" id="amount_invalid">0</span><span class="ms-2" id="amount-currency">XOF</span>
							</div> #}
							<!--end::Menu-->
						</div>
						<div class="h-3px w-100 bg-danger"></div>
					</div>
					<!--end::Col header-->
				</div>
				<!--end::Col-->
				<!--begin::Col-->
				<div class="col-md-3 mt-0">
					<!--begin::Col header-->
					<div class="mb-2">
						<div class="d-flex flex-stack mb-2 px-2">
							<div class="fw-bolder fs-4">{{"Délivrés"|trans}}
							<span class="text-gray-400 ms-2" id="count_delivered">0</span></div>
							<!--begin::Menu-->
							{# <div class="fs-8">
								<span class="ms-2" id="amount_delivered">0</span><span class="ms-2" id="amount-currency">XOF</span>
							</div> #}
							<!--end::Menu-->
						</div>
						<div class="h-3px w-100 bg-success"></div>
					</div>
					<!--end::Col header-->
				</div>
				<!--end::Col-->
			</div>
		</div>
		<!--end::Card-->
		<!--begin::Card-->
		<div class="card card-flush">
			<!--begin::Card header-->
			<div class="card-header">
				<!--begin::Card title-->
				<div class="card-title">
					<!--begin::Search-->
					<div class="d-flex align-items-center position-relative my-1 me-5">
						<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
						<span class="svg-icon svg-icon-1 position-absolute ms-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
								<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
							</svg>
						</span>
						<!--end::Svg Icon-->
						<input type="text" id="search" class="form-control form-control-solid w-250px ps-15" placeholder="{{'Rechercher'| trans}}" />
					</div>
					<!--end::Search-->
					<!--begin::Filter-->
					<button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
					<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
					<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->{{ 'Filtre' | trans }}</button>
					<!--begin::Menu 1-->
					<div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true" id="menu-filter">
						<input type="hidden" name="lfrom" id="lfrom" value="{{lfrom}}">
						<input type="hidden" name="lof" id="lof" value="{{lof}}">
						<!--begin::Header-->
						<div class="px-7 pt-3 pb-2">
							<div class="fs-5 text-dark fw-bolder">{{ 'Options de filtre' | trans }}</div>
						</div>
						<!--end::Header-->
						<!--begin::Separator-->
						<div class="separator border-gray-200"></div>
						<!--end::Separator-->
						<!--begin::Content-->
						<div class="px-7 py-2">
							<!--begin::Input group-->
							<div class="mb-3 {% if userType > 3 or lfrom == "campaign" %}sr-only{% endif %}">
								<label class="form-label fs-6 fw-bold">{{ 'Marque' | trans }} :</label>
								<select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez la marque"}}" data-allow-clear="true" id="brand">
									<option value="">{{"Toutes"|trans}}</option>
									{% for brand in brands %}
										<option value="{{ brand.uid }}" data-select2-avatar="{{asset('app/uploads/brands/logos/' ~ brand.logo)}}" data-select2-alt="{{brand.name}}">{{ brand.name }}</option>
									{% endfor %}
								</select>
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="mb-3 {% if userType > 3 or lfrom == "campaign" %}sr-only{% endif %}">
								<label class="form-label fs-6 fw-bold">{{ 'Utilisateur' | trans }} :</label>
								<select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez l'utilisateur"}}" data-allow-clear="true" id="user">
									{% for user in users %}
										<option value="{{ user.uid }}">{{ user.email }}</option>
									{% endfor %}
								</select>
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="mb-3 {% if lfrom == "campaign" %}sr-only{% endif %}">
								<label class="form-label fs-6 fw-bold">{{ 'Expéditeur' | trans }} :</label>
								<select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez l'expéditeur"}}" data-allow-clear="true" id="sender">
								</select>
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="mb-3 row">
								<div class="{% if lfrom == "campaign" %}col-12{% else %}col-6{% endif %}">
									<label class="form-label fs-6 fw-bold">{% trans %}Statut{% endtrans %} :</label>
									<select id="status" class="form-select form-select-solid fw-bolder" data-placeholder="{{'Statut des messages' | trans}}">
										{# data-allow-clear="true" data-control="select2"  #}
										<option value="">{{"Tous"|trans}}</option>
										{% for oneStatus in status %}
											<option value="{{ oneStatus.uid }}">{{ oneStatus.name }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-6 {% if lfrom == "campaign" %}sr-only{% endif %}">
									<label class="form-label fs-6 fw-bold">{% trans %}Période{% endtrans %} :</label>
									<select id="periode" class="form-select form-select-solid fw-bolder" data-placeholder="{{'Période de données' | trans}}">
										{#  data-allow-clear="true" data-control="select2"  #}
										<option value="1w">{{"1 semaine"|trans}}</option>
										<option value="1m">{{"1 mois"|trans}}</option>
										<option value="3m">{{"3 mois"|trans}}</option>
									</select>
								</div>
							</div>
							<!--end::Input group-->
							<!--begin::Actions-->
							<div class="d-flex justify-content-end">
								<button type="button" class="btn btn-light btn-active-light-primary fw-bold me-2 px-6" data-kt-menu-dismiss="true" id="reset">{{"Remise à zéro"|trans}}</button>
								<button type="submit" class="btn btn-primary fw-bold px-6" data-kt-menu-dismiss="true" id="submit">{{"Appliquer"|trans}}</button>
							</div>
							<!--end::Actions-->
						</div>
						<!--end::Content-->
					</div>
					<!--end::Menu 1-->
					<!--end::Filter-->
				</div>
				<!--end::Card title-->
				<!--begin::Card toolbar-->
				<div class="card-toolbar">
					<!--begin::Button-->
					{% if pCreate %}
						<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							{% if lfrom == "campaign" %}
								<a href="{{path("campaign_sms_view_created")}}" class="btn btn-light-primary btn-active-primary">
									<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
									<span class="svg-icon svg-icon-3">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
											<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
											<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
										</svg>
									</span>
									<!--end::Svg Icon-->
									{{"Nouvelle campagne"|trans}}
								</a>
							{% elseif lfrom != "api" %}
								<button id="message_sms_create" type="button" class="btn btn-light-primary btn-active-primary">
									<!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
									<span class="svg-icon svg-icon-3">
										<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
											<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
											<rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
											<rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
										</svg>
									</span>
									<!--end::Svg Icon-->
									{{"Nouveau message"|trans}}
								</button>
							{% endif %}
						</div>
					{% endif %}

					<button type="button" id="export" class="btn btn-secondary ms-2">
						{% trans %}Exportation{% endtrans %}
					</button>
					<!--end::Button-->
				</div>
				<!--end::Card toolbar-->
			</div>
			<!--end::Card header-->
			<!--begin::Card body-->
			<div class="card-body pt-0 pb-2">
				<!--begin::Table-->
				<table id="message_table" class="table table-row-bordered table-row-dashed gy-4 align-middle">
					<!--begin::Table head-->
					<thead class="fs-7 text-gray-400 text-uppercase text-center">
						<tr>
							<th class="min-w-100px">{{"Téléphone"|trans}}</th>
							<th class="min-w-100px">{{"Expéditeur"|trans}}</th>
							<th class="min-w-100px">{{"Date d'envoi"|trans}}</th>
							<th class="min-w-100px">{{"Statut"|trans}}</th>
							<th class="min-w-100px">{{"Nbr. de page"|trans}}</th>
							<th class="min-w-100px">{{"Infos"|trans}}</th>
							<th class="min-w-100px">{{"Message"|trans}}</th>
							<th class="min-w-100px">{{"Actions"|trans}}</th>
						</tr>
					</thead>
					<!--end::Table head-->
					<!--begin::Table body-->
					<tbody class="fs-6">
					</tbody>
					<!--end::Table body-->
				</table>
				<!--end::Table-->
			</div>
			<!--end::Card body-->
		</div>
		<!--end::Card-->
		<!--end::Toolbar-->
	</div>
	<!--end::Container-->
</div>
<!--end::Post-->
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	const url_user		= "{{path('filter_user')}}",
	url_sender_names	= "{{path('filter_sender_names')}}",
	url_sender			= "{{path('filter_sender')}}",
	url_get				= "{{path("message_sms_listen")}}",
	url_disable			= "{{path("message_sms_disable")}}",
	url_delete			= "{{path("message_sms_delete")}}",
	url_enable			= "{{path("message_sms_enable")}}",
	_token				= "{{csrf_token("message")}}";

	const filter_token	= "{{csrf_token("")}}",
	brandInit			= {% if brands|length == 1 %} "{{brands[0].uid}}" {% else %} false {% endif %},
	userInit			= {% if users|length == 1 %} "{{users[0].uid}}" {% else %} false {% endif %};

	const titleDelete	= "{{"Supprimer le message"|trans}}",
	titleSuspend		= "{{"Suspendre l'envoi du message"|trans}}",
	titleSend			= "{{"Relancer l'envoi du message"|trans}}",
	disableConfirm		= "{{"Voulez-vous suspendre l'envoi du message ?"|trans}}",
	deleteConfirm		= "{{"Voulez-vous supprimer définitivement le message ?"|trans}}",
	sendConfirm			= "{{"Voulez-vous relancer l'envoi du message ?"|trans}}"
	;
</script>
{{ include('smsmessage/new.html.twig', {'brands':brands}) }}
<script type="text/javascript" src="{{ asset('app/js/queries/sms/list_message.js')}}"></script>
{% endblock %}
