<!--begin::Modals-->
{% block stylesheets %}
<style media="screen">
.rotate-270{
	-ms-transform: rotate(270deg); /* IE 9 */
	transform: rotate(270deg);
}
</style>
{% endblock %}

<!--begin::Modal - Sender-->
<div class="modal fade" id="modal_message" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
	<!--begin::Modal dialog-->
	<div class="modal-dialog modal-dialog-centered mw-750px">
		<!--begin::Modal content-->
		<div class="modal-content">
			<!--begin::Form-->
			<form class="form" action="{{path("message_sms_create")}}" id="message_form" method="post">
				<input type="hidden" name="_token" value="{{csrf_token('messageCreate')}}"/>
				<!--begin::Modal header-->
				<div class="modal-header" id="message_modal_header">
					<!--begin::Modal title-->
					<h2 class="fw-bolder" id="title">{% trans %}Envoyer un message{% endtrans %}</h2>
					<!--end::Modal title-->
					<!--begin::Close-->
					<div class="btn btn-icon btn-sm btn-active-icon-primary" id="close">
						<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
						<span class="svg-icon svg-icon-1">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
								<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
							</svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<!--end::Close-->
				</div>
				<!--end::Modal header-->
				<!--begin::Modal body-->
				<div class="modal-body row scroll-y mx-5 my-5" id="message_modal_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#message_modal_header" data-kt-scroll-wrappers="#message_modal_scroll" data-kt-scroll-offset="300px">
					{# {% if userType > 3 %} #}
						<!--begin::Input group-->
						<div class="fv-row mb-10 col-md-6 {% if userType > 3 %}sr-only{% endif %}">
							<!--begin::Label-->
							<label class="fs-7 fw-bolder form-label mb-2 required" for="brand_message">
								{{"Marque blanche"|trans}}
							</label>
							<!--end::Label-->
							<!--begin::Input-->
							<select name="brand" class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez la marque"|trans}}" data-allow-clear="true" data-control="select2" data-dropdown-parent='#modal_message' id="brand_message">
								<option value="">{{"Toutes"|trans}}</option>
								{% for brand in brands %}
									<option value="{{ brand.uid }}" data-select2-avatar="{{asset('app/uploads/brands/logos/' ~ brand.logo)}}" data-select2-alt="{{brand.name}}">{{ brand.name }}</option>
								{% endfor %}
							</select>
							<!--end::Input-->
						</div>
						<!--end::Input group-->
					{# {% else %}
						<input type="hidden" id="brand_message" name="brand" value="">
					{% endif %} #}
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-md-6 {% if userType > 3 %}sr-only{% endif %}">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2 required" for="user_message">
							{{"Utilisateur de la marque"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<select name="user" class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez l'utilisateur"|trans}}" data-control="select2" data-dropdown-parent='#modal_message' data-allow-clear="true" id="user_message">
						</select>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-md-4">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2" for="sender_message">
							{{"Expéditeur"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<select name="sender" class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez l'expéditeur"|trans}}" data-control="select2" data-dropdown-parent='#modal_message' data-allow-clear="true" id="sender_message">
						</select>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-md-4">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2 required" for="type_message">
							{{"Type de SMS"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<select id="type_message" name="type" class="form-select form-select-solid fw-bolder" data-placeholder="{{"Sélectionnez le type du SMS" | trans}}" data-control="select2" data-dropdown-parent='#modal_message' data-hide-search='true' required>
							<option value="1">{{ "SMS Classique"|trans }}</option>
							<option value="0">{{ "SMS Flash"|trans }}</option>
						</select>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-md-4">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2" for="timezone_message">
							{{"Fuseau horaire"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<select id="timezone_message" name="timezone" data-allow-clear="false" data-control="select2" class="form-select form-select-solid fw-bolder" data-placeholder="{{"Sélectionnez le Fuseau horaire" | trans}}" data-control="select2" data-dropdown-parent='#modal_message'>
							<option value="-12:00">(GMT -12:00)</option>
							<option value="-11:00">(GMT -11:00)</option>
							<option value="-10:00">(GMT -10:00)</option>
							<option value="-09:30">(GMT -9:30)</option>
							<option value="-09:00">(GMT -9:00)</option>
							<option value="-08:00">(GMT -8:00)</option>
							<option value="-07:00">(GMT -7:00)</option>
							<option value="-06:00">(GMT -6:00)</option>
							<option value="-05:00">(GMT -5:00)</option>
							<option value="-04:30">(GMT -4:30)</option>
							<option value="-04:00">(GMT -4:00)</option>
							<option value="-03:30">(GMT -3:30)</option>
							<option value="-03:00">(GMT -3:00)</option>
							<option value="-02:00">(GMT -2:00)</option>
							<option value="-01:00">(GMT -1:00)</option>
							<option value="+00:00">(GMT)</option>
							<option value="+01:00">(GMT +1:00)</option>
							<option value="+02:00">(GMT +2:00)</option>
							<option value="+03:00">(GMT +3:00)</option>
							<option value="+03:30">(GMT +3:30)</option>
							<option value="+04:00">(GMT +4:00)</option>
							<option value="+04:30">(GMT +4:30)</option>
							<option value="+05:00">(GMT +5:00)</option>
							<option value="+05:50">(GMT +5:30)</option>
							<option value="+05:75">(GMT +5:45)</option>
							<option value="+06:00">(GMT +6:00)</option>
							<option value="+06:30">(GMT +6:30)</option>
							<option value="+07:00">(GMT +7:00)</option>
							<option value="+08:00">(GMT +8:00)</option>
							<option value="+08:75">(GMT +8:45)</option>
							<option value="+09:00">(GMT +9:00)</option>
							<option value="+09:30">(GMT +9:30)</option>
							<option value="+10:00">(GMT +10:00)</option>
							<option value="+10:50">(GMT +10:30)</option>
							<option value="+11:00">(GMT +11:00)</option>
							<option value="+11:30">(GMT +11:30)</option>
							<option value="+12:00">(GMT +12:00)</option>
							<option value="+12:75">(GMT +12:45)</option>
							<option value="+13:00">(GMT +13:00)</option>
							<option value="+14:00">(GMT +14:00)</option>
						</select>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-md-6">
						<!--begin::Label-->
						<span class="clearfix">
							<label class="fs-7 fw-bolder form-label mb-2 float-start" for="datetime_message">
								{{"Date et heure d'envoi"|trans}}
								<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="" data-bs-original-title="{{"Laissez vide pour créer une campagne instantanée."|trans}}" aria-label="{{"Laissez vide pour créer une campagne instantanée."|trans}}"></i>
							</label>
							<span class="float-end me-5 rotate-270" id="clear" data-bs-toggle="tooltip" title="" data-bs-original-title="{{"Vidé le champ."|trans}}" aria-label="{{"Vidé le champ."|trans}}"><i class="bi bi-backspace-fill"></i></span>
						</span>
						<!--end::Label-->
						<!--begin::Input-->
						<input class="form-control form-control-solid" placeholder="{{"Gardez vide pour l'envoi instantané."|trans}}" id="datetime_message" name="datetime"/>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-md-6">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2" for="message_phone">
							{{"Téléphone"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<input type="tel" id="message_phone" name="message_phone" class="form-control form-control-solid fw-bolder tel"/>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-lg-6">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2 required" for="message_message">
							{{"Message"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<textarea name="message" id="message_message" rows="8" cols="80" class="form-control form-control-solid" required></textarea>
						<!--end::Input-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="fv-row mb-10 col-lg-6">
						<!--begin::Label-->
						<label class="fs-7 fw-bolder form-label mb-2 required" for="true_message_message">
							{{"Aperçu du message à envoyer"|trans}}
						</label>
						<!--end::Label-->
						<!--begin::Input-->
						<textarea id="true_message_message" rows="8" cols="80" class="form-control form-control-solid" disabled></textarea>
						<!--end::Input-->
						<p id="countThree">
							<span class="text-danger fs-8"><span id="countMessage">0</span> {{"caractère(s)"|trans}} </span>
							<span class="text-gray-800 fs-8"> <span id="countPageMessage">0</span> {{"page(s)"|trans}}</span>
						</p>
					</div>
					<!--end::Input group-->
				</div>
				<!--end::Modal body-->
				<div class="modal-body">
					<!--begin::Actions-->
					<div class="text-center w-100">
						<button type="button" class="btn btn-light me-3" id="cancel">{{'Annuler'| trans}}</button>
						<button type="submit" class="btn btn-primary" id="submit">
							<span class="indicator-label">{{'Soumettre'| trans}}</span>
							<span class="indicator-progress">{{'Veuillez patienter'| trans}}...
							<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
						</button>
					</div>
					<!--end::Actions-->
				</div>
			</form>
			<!--end::Form-->
		</div>
		<!--end::Modal content-->
	</div>
	<!--end::Modal dialog-->
</div>
<!--end::Modal - sender-->
<!--end::Modals-->
<script type="text/javascript">
	const loadPage = "{{"Voulez-vous voir les messages envoyés ?"|trans}}";

	const url_message = "{{path("message_sms")}}";

	const noEmptyPhone	= "{{"Veuillez saisir le numero de téléphone"|trans}}",
	invalidPhone	= "{{"Le numero de téléphone est invalide"|trans}}";

	function viewAlert(content, sender){
		$("#alertDefaultSender").remove()
		$(content).prepend(`
		<div id="alertDefaultSender" class="alert alert-dismissible bg-light-danger border border-danger border-dashed d-flex flex-column flex-sm-row p-5 mb-10">
			<!--begin::Alert-->
			<!--begin::Icon-->
			<span class="svg-icon svg-icon-2hx svg-icon-primary me-4 mb-5 mb-sm-0">
				<!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen002.svg-->
				<span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<path opacity="0.3" d="M4.05424 15.1982C8.34524 7.76818 13.5782 3.26318 20.9282 2.01418C21.0729 1.98837 21.2216 1.99789 21.3618 2.04193C21.502 2.08597 21.6294 2.16323 21.7333 2.26712C21.8372 2.37101 21.9144 2.49846 21.9585 2.63863C22.0025 2.7788 22.012 2.92754 21.9862 3.07218C20.7372 10.4222 16.2322 15.6552 8.80224 19.9462L4.05424 15.1982ZM3.81924 17.3372L2.63324 20.4482C2.58427 20.5765 2.5735 20.7163 2.6022 20.8507C2.63091 20.9851 2.69788 21.1082 2.79503 21.2054C2.89218 21.3025 3.01536 21.3695 3.14972 21.3982C3.28408 21.4269 3.42387 21.4161 3.55224 21.3672L6.66524 20.1802L3.81924 17.3372ZM16.5002 5.99818C16.2036 5.99818 15.9136 6.08615 15.6669 6.25097C15.4202 6.41579 15.228 6.65006 15.1144 6.92415C15.0009 7.19824 14.9712 7.49984 15.0291 7.79081C15.0869 8.08178 15.2298 8.34906 15.4396 8.55884C15.6494 8.76862 15.9166 8.91148 16.2076 8.96935C16.4986 9.02723 16.8002 8.99753 17.0743 8.884C17.3484 8.77046 17.5826 8.5782 17.7474 8.33153C17.9123 8.08486 18.0002 7.79485 18.0002 7.49818C18.0002 7.10035 17.8422 6.71882 17.5609 6.43752C17.2796 6.15621 16.8981 5.99818 16.5002 5.99818Z" fill="currentColor"/>
				<path d="M4.05423 15.1982L2.24723 13.3912C2.15505 13.299 2.08547 13.1867 2.04395 13.0632C2.00243 12.9396 1.9901 12.8081 2.00793 12.679C2.02575 12.5498 2.07325 12.4266 2.14669 12.3189C2.22013 12.2112 2.31752 12.1219 2.43123 12.0582L9.15323 8.28918C7.17353 10.3717 5.4607 12.6926 4.05423 15.1982ZM8.80023 19.9442L10.6072 21.7512C10.6994 21.8434 10.8117 21.9129 10.9352 21.9545C11.0588 21.996 11.1903 22.0083 11.3195 21.9905C11.4486 21.9727 11.5718 21.9252 11.6795 21.8517C11.7872 21.7783 11.8765 21.6809 11.9402 21.5672L15.7092 14.8442C13.6269 16.8245 11.3061 18.5377 8.80023 19.9442ZM7.04023 18.1832L12.5832 12.6402C12.7381 12.4759 12.8228 12.2577 12.8195 12.032C12.8161 11.8063 12.725 11.5907 12.5653 11.4311C12.4057 11.2714 12.1901 11.1803 11.9644 11.1769C11.7387 11.1736 11.5205 11.2583 11.3562 11.4132L5.81323 16.9562L7.04023 18.1832Z" fill="currentColor"/>
				</svg></span>
				<!--end::Svg Icon-->
			</span>
			<!--end::Icon-->

			<!--begin::Wrapper-->
			<div class="d-flex flex-column pe-0 pe-sm-10">
				<!--begin::Title-->
				<h5 class="mb-1">{{"Votre expéditeur par défaut est <<%1%>>"|trans({'%1%':'`+sender+`'})}}</h5>
				<!--end::Title-->
				<!--begin::Content-->
				<span>{{"Si vous n'avez aucun expéditeur ou si vous n'en séléctionnez aucun, cet expéditeur sera utilisé pour l'envoi de vos messages."|trans}}</span>
				<!--end::Content-->
			</div>
			<!--end::Wrapper-->

			<!--begin::Close-->
			<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
				<i class="bi bi-x fs-1 text-primary"></i>
			</button>
			<!--end::Close-->
			<!--end::Alert-->
		</div>
		`);
	}
</script>
<script src="{{asset("app/js/queries/sms/message.js")}}"></script>
