
                                                        <option value="BJ" data-kt-select2-country="{{ asset('app/media/flags/benin.svg')}}">{% trans %}Benin{% endtrans %}</option>
                                                        <option value="TG" data-kt-select2-country="{{ asset('app/media/flags/togo.svg')}}">{% trans %}Togo{% endtrans %}</option>
                                                        <option value="CI" data-kt-select2-country="{{ asset('app/media/flags/ivory-coast.svg')}}">{% trans %}Cote d'Ivoire{% endtrans %}</option>
                                                        <option value="NE" data-kt-select2-country="{{ asset('app/media/flags/niger.svg')}}">{% trans %}Niger{% endtrans %}</option>
                                                        <option value="SN" data-kt-select2-country="{{ asset('app/media/flags/senegal.svg')}}">{% trans %}Senegal{% endtrans %}</option>