													

<option data-kt-select2-country="{{ asset('app/media/flags/afrik.jpg')}}" value="XOF">
<b>XOF</b>&#160;-&#160; {% trans %}Franc CFA Africain{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/afrik.jpg')}}" value="XAF">
<b>XAF</b>&#160;-&#160; {% trans %}Franc CFA Africain{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/france.svg')}}" value="EUR">
<b>EUR</b>&#160;-&#160; {% trans %}Euro français{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/united-states.svg')}}" value="USD">
<b>USD</b>&#160;-&#160; {% trans %}Dollar Américain{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/united-kingdom.svg')}}" value="GBP">
<b>GBP</b>&#160;-&#160; {% trans %}Pound de la Bretagne{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/australia.svg')}}" value="AUD">
<b>AUD</b>&#160;-&#160; {% trans %}Dollar Australien{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/japan.svg')}}" value="JPY">
<b>JPY</b>&#160;-&#160; {% trans %}Yen Japonais{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/sweden.svg')}}" value="SEK">
<b>SEK</b>&#160;-&#160; {% trans %}krona Suédois{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/canada.svg')}}" value="CAD">
<b>CAD</b>&#160;-&#160; {% trans %}Dollar canadien{% endtrans %}</option>
<option data-kt-select2-country="{{ asset('app/media/flags/switzerland.svg')}}" value="CHF">
<b>CHF</b>&#160;-&#160; {% trans %}Franc Suisse{% endtrans %}</option>