<!DOCTYPE html>

<title>ContactGroup</title>

{% block body %}
    <h1>ContactGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_group.id }}</td>
            </tr>
            <tr>
                <th>Uid</th>
                <td>{{ contact_group.uid }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ contact_group.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ contact_group.createdAt ? contact_group.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ contact_group.updatedAt ? contact_group.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_group_index') }}">back to list</a>

    <a href="{{ path('app_contact_group_edit', {'id': contact_group.id}) }}">edit</a>

    {{ include('contact_group/_delete_form.html.twig') }}
{% endblock %}
