
{% extends 'base.app.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}
<!--begin::Content-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card header-->
                <div class="card-header border-0 pt-6">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->
                        </div>
                            <input type="text" data-kt-user-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="{{'Rechercher'| trans}}" />
                        <!--end::Search-->
                    </div>
                    <!--begin::Card title-->
                    <!--begin::Card toolbar-->
                    <div class="card-toolbar">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                            <!--begin::Filter-->
                            <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{% trans %}Filtre{% endtrans %} </button>
                            <!--begin::Menu 1-->
                            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                                <!--begin::Header-->
                                <div class="px-7 py-5">
                                    <div class="fs-5 text-dark fw-bolder">{% trans %}Options de filtre{% endtrans %}</div>
                                </div>
                                <!--end::Header-->
                                <!--begin::Separator-->
                                <div class="separator border-gray-200"></div>
                                <!--end::Separator-->
                                <!--begin::Content-->
                                <div class="px-7 py-5" data-kt-user-table-filter="form">
                                    <!--begin::Input group-->
                                    <div class="mb-10">
                                         <label class="form-label fs-6 fw-bold">{{'Marque'|trans}}:</label>
                                        <select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="{{"Choisissez la marque"}}" data-allow-clear="true" id="brand_filter" data-kt-user-table-filter="brand" data-hide-search="true">>
                                            <option value="">{{"Toutes"|trans}}</option>
                                            {% for brand in brands %}
                                                <option value="{{ brand.name }}" data-select2-avatar="{{brand.logo}}" data-select2-alt="{{brand.name}}">{{ brand.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Actions-->
                                    <div class="d-flex justify-content-end">
                                        <button type="reset" class="btn btn-light btn-active-light-primary fw-bold me-2 px-6" data-kt-menu-dismiss="true" data-kt-user-table-filter="reset">{% trans %}Annuler{% endtrans %}</button>
                                        <button type="submit" class="btn btn-primary fw-bold px-6" data-kt-menu-dismiss="true" data-kt-user-table-filter="filter">{% trans %}Filtrer{% endtrans %}</button>
                                    </div>
                                    <!--end::Actions-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Menu 1-->
                            <!--end::Filter-->
                            <!--begin::Export-->
                            <button type="button" id="export" class="btn btn-light-primary me-3">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                                    <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                                    <path d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="#C4C4C4" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{'Exportation'|trans}}</button>
                            <!--end::Export-->
                           
                            <!--begin::Add user-->
                            <button type="button" id="kt_modal_add_user_button" class="btn btn-primary
                             {% if pCreateUser is defined and pCreateUser == false %}d-none{% endif %}" data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                            <span class="svg-icon svg-icon-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                    <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                    <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{ 'Nouvel affilié' | trans }} </button>
                            <!--end::Add user-->
                            <button type="button" id="kt_modal_add_user_reload_button" class="btn btn-light-primary d-none">
                            <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                            <span class="svg-icon svg-icon-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                    <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                    <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{% trans %}Reload{% endtrans %}</button>
                            
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::Group actions-->
                        <div class="d-flex justify-content-end align-items-center d-none" data-kt-user-table-toolbar="selected">
                            <div class="fw-bolder me-5">
                            <span class="me-2" data-kt-user-table-select="selected_count"></span>{{ 'Selectionné(s)'| trans }}</div>
                            <button type="button" class="btn btn-danger" data-kt-user-table-select="delete_selected">{{ 'Supprimer la sélection'| trans }}</button>
                        </div>
                        <!--end::Group actions-->
                        <!--begin::Modal - Add task-->
                        <div class="modal fade" id="kt_modal_add_user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
                            <!--begin::Modal dialog-->
                            <div class="modal-dialog modal-dialog-centered mw-950px">
                                <!--begin::Modal content-->
                                <div class="modal-content">
                                    <!--begin::Modal header-->
                                    <div class="modal-header" id="kt_modal_add_user_header">
                                        <!--begin::Modal title-->
                                        <h2 class="fw-bolder" id="kt-modal_add_user_title">{{ 'Créer un affilié'| trans }}</h2>
                                        <!--end::Modal title-->
                                        <!--begin::Close-->
                                        <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-users-modal-action="close">
                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                            <span class="svg-icon svg-icon-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                                    <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                        </div>
                                        <!--end::Close-->
                                    </div>
                                    <!--end::Modal header-->
                                    <!--begin::Modal body-->
                                    <div class="modal-body modal-lg scroll-y mx-5 mx-xl-15 my-7">
                                        <!--begin::Form-->
                                        {{ form_start(userform, {'attr':{'id':'kt_modal_add_user_form'}}) }}
                                            <!--begin::Scroll-->
                                            <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_add_user_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_user_header" data-kt-scroll-wrappers="#kt_modal_add_user_scroll" data-kt-scroll-offset="300px">
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Label-->
                                                    <label class="d-block fw-bold fs-6 mb-5">{{ 'Avatar'| trans }}</label>
                                                    <!--end::Label-->
                                                    <!--begin::Image input-->
                                                    <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url({{ asset('app/uploads/avatars/default_avatar_1.png')  }}">
                                                        <!--begin::Preview existing avatar-->
                                                        <div class="image-input-wrapper w-125px h-125px" id="avatar_input" style="background-image: url({{ asset('app/uploads/avatars/default_avatar_1.png') }}"></div>
                                                        <!--end::Preview existing avatar-->
                                                        <!--begin::Label-->
                                                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="{{ 'Changer avatar' | trans }}">
                                                            <i class="bi bi-pencil-fill fs-7"></i>
                                                            <!--begin::Inputs-->
                                                            <input type="file" name="avatar" accept=".png, .jpg, .jpeg" />
                                                            <input type="hidden" name="avatar_remove" />
                                                            <!--end::Inputs-->
                                                        </label>
                                                        <!--end::Label-->
                                                        <!--begin::Cancel-->
                                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="{{ 'Quitter avatar' | trans }}">
                                                            <i class="bi bi-x fs-2"></i>
                                                        </span>
                                                        <!--end::Cancel-->
                                                        <!--begin::Remove-->
                                                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="{{ 'Réinitialiser avatar' | trans }}">
                                                            <i class="bi bi-x fs-2"></i>
                                                        </span>
                                                        <!--end::Remove-->
                                                    </div>
                                                    <!--end::Image input-->
                                                    <!--begin::Hint-->
                                                    <div class="form-text">{{ 'Extensions acceptés'| trans }}: png, jpg, jpeg.</div>
                                                    <!--end::Hint-->
                                                </div>
                                                <!--end::Input group-->
                                                 <!--begin::Input group-->
                                                <div class="fv-row mb-7" id="brand_input">
                                                    <!--begin::Col-->
                                                    <div class="col-lg-12 fv-row">
                                                        <!--begin::Label-->
                                                        <label class="fs-6 fw-bold mb-2 form-label" for="kt_user_add_select2_country">
                                                            <span class="required">{{ 'Marque'| trans }}:</span>
                                                        </label>
                                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{"Marque blanche de l'affilié à créer"| trans}}"></i>
                                                        <!--end::Label-->
                                                        <div class="w-100">
                                                            <div class="form-floating border rounded">
                                                                <!--begin::Select2-->
                                                                <select id="modalbrand" data-dropdown-parent="#kt_modal_add_user" data-allow-clear="true" data-kt-select2="true"  class="form-select form-select-solid lh-2 py-3" name="uBrand" data-placeholder="{{'Choisir une marque' | trans}}"/>
                                                                    <option value="">{{"Toutes"|trans}}</option>
                                                                    {% set bcounter = 0  %}

                                                                    {% for brand in brands %}
                                                                    {% set bcounter = bcounter + 1 %}
                                                                    <option {% if bcounter == 1 %}selected{% endif %} value="{{ brand.uid }}" data-select2-avatar="{{brand.logo}}" data-select2-alt="{{brand.name}}">{{ brand.name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <!--end::Select2-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                     <!--begin::Label-->
                                                    <label class="col-lg-4 col-form-label required fw-bold fs-6">{{ 'Prénoms & Noms' | trans }}</label>
                                                    <!--end::Label-->
                                                    <!--begin::Col-->
                                                    <div class="col-lg-12">
                                                    <!--begin::Row-->
                                                    <div class="row">
                                                        <!--begin::Col-->
                                                        <div class="col-lg-6 fv-row">
                                                            {{ form_row(userform.firstname, {'attr': {'class': 'form-control form-control-lg form-control-solid mb-3 mb-lg-0','placeholder': 'Prénoms'|trans }}) }}
                                                            {{ form_row(userform.uid, {'attr': {'class': 'form-control form-control-lg form-control-solid mb-3 mb-lg-0','value': 0 }}) }}
                                                        </div>
                                                        <!--end::Col-->
                                                        <!--begin::Col-->
                                                        <div class="col-lg-6 fv-row">
                                                            {{ form_row(userform.lastname, {'attr': {'class': 'form-control form-control-lg form-control-solid','placeholder': 'Nom de famille'|trans }}) }}
                                                        </div>
                                                        <!--end::Col-->
                                                    </div>
                                                    <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Col-->
                                                    <div class="col-lg-12">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-6 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="required fw-bold fs-6 mb-2">{{'Email' | trans }}</label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                {{ form_row(userform.email, {'attr': {'class': 'form-control form-control-solid mb-3 mb-lg-0','placeholder': 'example@domain.com'|trans }}) }}
                                                                <!--end::Input-->                                                                    
                                                            </div>
                                                            <div class="col-lg-6 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="required fw-bold fs-6 mb-2">{{ 'Téléphone' | trans }}</label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                {{ form_row(userform.phone, {'attr': {'class': 'form-control tel form-control-solid mb-3 mb-lg-0'  }}) }}
                                                                <!--end::Input-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end::Input group-->
                                                <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Col-->
                                                    <div class="col-lg-12">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-6 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="fs-6 fw-bold mb-2 form-label" for="kt_user_add_select2_country">
                                                                    <span class="required">{{ 'Pays' | trans }}</span>
                                                                </label>
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{'Pays détecté par le système pour l\'affilié' | trans}}"></i>
                                                                <!--end::Label-->
                                                                <div class="w-100">
                                                                    <div class="form-floating border rounded">
                                                                        <!--begin::Select2-->
                                                                        <select id="kt_user_add_select2_country" data-dropdown-parent="#kt_modal_add_user" data-allow-clear="true" data-control="select2"
                                                                        class="form-select form-select-solid lh-1 py-3" name="country" data-placeholder="{{'Sélection de pays' | trans}}" 
                                                                        data-kt-user-settings-type="select2_flags"/>
                                                                           {% include 'section/country.option.html.twig' %}
                                                                        </select>
                                                                        <!--end::Select2-->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--begin::Col-->
                                                            <div class="col-lg-6 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="required fw-bold fs-6 mb-2">{{ 'Status' | trans }}</label>
                                                                <!--end::Label-->
                                                                {{ form_row(userform.status, {'attr': {'class': 'form-select form-select-solid mb-3 mb-lg-0',
                                                                'data-control':"select2", 'data-placeholder': 'Selectionner'| trans, 'data-allow-clear':"true"
                                                                ,'data-kt-select2':"true", 'data-dropdown-parent':"#kt_modal_add_user" }}) }}
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                 <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Col-->
                                                    <div class="col-lg-12">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-6 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="fs-6 fw-bold mb-2 form-label" for="kt_user_add_select2_country">
                                                                    <span class="required">{{ 'Accusé' | trans }}</span>
                                                                </label>
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{'Accusé de reception des messages' | trans}}"></i>
                                                                <!--end::Label-->
                                                                {{ form_row(userform.is_dlr, {'attr': {'class': 'form-select form-select-solid mb-3 mb-lg-0',
                                                                'data-control':"select2", 'data-placeholder': 'Selectionner'| trans, 'data-allow-clear':"true"
                                                                ,'data-kt-select2':"true", 'data-dropdown-parent':"#kt_modal_add_user" }}) }}
                                                            </div>
                                                            <!--begin::Col-->
                                                            <div class="col-lg-6 fv-row">
                                                                <!--begin::Label-->
                                                                <label class="required fw-bold fs-6 mb-2">{{ 'Prépayé' | trans }}</label>
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{"Possibilité pour l'affilié d'avoir un solde négatif"| trans}}"></i>
                                                                <!--end::Label-->
                                                                {{ form_row(userform.post_pay, {'attr': {'class': 'form-select form-select-solid mb-3 mb-lg-0',
                                                                'data-control':"select2", 'data-placeholder': 'Selectionner'| trans, 'data-allow-clear':"true"
                                                                ,'data-kt-select2':"true", 'data-dropdown-parent':"#kt_modal_add_user","selected" : true}}) }}
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                                 <!--begin::Input group-->
                                                <div class="fv-row mb-7">
                                                    <!--begin::Col-->
                                                    <div class="col-lg-12">
                                                        <!--begin::Row-->
                                                        <div class="row">
                                                            <!--begin::Col-->
                                                            <div class="col-lg-{% if pViewUser %}6{% else %}12{% endif %} fv-row">
                                                                <!--begin::Label-->
                                                                <label class="fs-6 fw-bold mb-2 form-label" for="kt_user_add_select2_country">
                                                                    <span class="required">{{ 'Rôle' | trans }}</span>
                                                                </label>
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{"Rôle de l'affilié" | trans}}"></i>
                                                                <!--end::Label-->
                                                                {{ form_row(userform.role, {'attr': {'class': 'form-select form-select-solid mb-3 mb-lg-0',
                                                                'data-control':"select2", 'data-placeholder': 'Selectionner'| trans, 'data-allow-clear':"true"
                                                                ,'data-kt-select2':"true", 'data-dropdown-parent':"#kt_modal_add_user" }}) }}
                                                            </div>
                                                            <!--begin::Col-->
                                                            <div class="col-lg-6 fv-row" id="router_input">
                                                                <!--begin::Label-->
                                                                <label class="required fw-bold fs-6 mb-2">{{ 'Route' | trans }}</label>
                                                                <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{"Route par défaut sur laquelle faire passer les messages de l'affilié"| trans}}"></i>
                                                                <!--end::Label-->
                                                                {{ form_row(userform.router, {'attr': {'class': 'form-select form-select-solid mb-3 mb-lg-0',
                                                                'data-control':"select2", 'data-placeholder': 'Selectionner'| trans, 'data-allow-clear':"true"
                                                                ,'data-kt-select2':"true", 'data-dropdown-parent':"#kt_modal_add_user","disabled" : false }}) }}
                                                            </div>
                                                            <!--end::Col-->
                                                        </div>
                                                        <!--end::Row-->
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <!--end::Scroll-->
                                            <!--begin::Actions-->
                                            <hr>
                                            <div class="text-center pt-5">
                                                <button type="reset" class="btn btn-light me-3" data-kt-users-modal-action="cancel">{{"Fermer"| trans }}</button>
                                                <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit">
                                                    <span class="indicator-label">{{"Soumettre"|trans }}</span>
                                                    <span class="indicator-progress">{{"Veuillez patienter..."| trans }}
                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                </button>
                                            </div>
                                            <!--end::Actions-->
                                        {{ form_end(userform) }}
                                        <!--end::Form-->
                                    </div>
                                    <!--end::Modal body-->
                                </div>
                                <!--end::Modal content-->
                            </div>
                            <!--end::Modal dialog-->
                        </div>
                        <!--end::Modal - Add task-->
                    </div>
                    <!--end::Card toolbar-->
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body py-4">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                                <th class="w-10px pe-2">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                        <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_table_users .form-check-input" value="1" />
                                    </div>
                                </th>
                                <th class="min-w-125px">{{'Affilié'| trans}}</th>
                                <th class="min-w-125px">{{'Téléphone'| trans}}</th>
                                <th class="min-w-125px">{{'Role'| trans}}</th>
                                <th class="min-w-125px">{{'Pays'| trans}}</th>
                                <th class="min-w-125px">{{'Solde'| trans}}</th>
                                <th class="min-w-125px">{{'Status'| trans}}</th>
                                <th class="min-w-125px">{{'D connexion'| trans}}</th>
                                <th class="min-w-125px">{{'Date d\'inscription'| trans}}</th>
                                <th class="min-w-125px">{{'Accusé'| trans}}</th>
                                <th class="min-w-125px">{{'Prépayé'| trans}}</th>
                                <th class="min-w-125px">{{'Marque'| trans}}</th>
                                <th class="text-end min-w-100px">{{'Actions'| trans}}</th>
                            </tr>
                            <!--end::Table row-->
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody class="text-gray-600 fw-bold">
                            <!--begin::Table row-->
                           
                            <!--end::Table row-->
                        </tbody>
                        <!--end::Table body-->
                    </table>
                    <!--end::Table-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->

{% endblock %}


{% block javascripts %} 
<script type="text/javascript">
    const pEditUser     = {{ pEditUser}};
	const pDeleteUser   = {{ pDeleteUser}};
	const pViewUser     = {{ pViewUser}};
	const roleLevel     = "{{ app.user.role.level }}";

    const add_user         = "{{path('app_user_add')}}";
    const user_list_link   = "{{path('app_user_list')}}";
    const user_price_link  = "{{ path('app_user_price', {'uid':'_1_'}) }}";
    const statistic_link   = "{{path('get_statistics_data')}}";
    const csrfToken        = "{{ csrf_token(app.user.uid) }}";


    var isUserUpdating       = false;
    const formModalButton    = $("#kt_modal_add_user_button");
    const tableReloadButton  = $('#kt_modal_add_user_reload_button');
    const countrySelecter    = document.querySelector('#kt_user_add_select2_country');
    const userCountryCode    = "{{ app.user.country.code }}";
</script>
<script src="{{ asset('app/js/queries/public-app/country-flag-input.js') }}"></script>
<!--begin::Page Custom Javascript(used by this page)-->
<script src="{{ asset('app/plugins/custom/datatables/datatables.bundle.js') }}"></script>
<script src="{{ asset('app/js/queries/user-management/affiliates/add.js') }}"></script>
<script src="{{ asset('app/js/queries/user-management/affiliates/delete.js') }}"></script>
<script src="{{ asset('app/js/queries/user-management/affiliates/update.js') }}"></script>
<script src="{{ asset('app/js/queries/user-management/affiliates/list.js') }}"></script>
{% endblock %}