        <!--begin::Form-->
        {{ form_start(form,{'attr': {'class': 'form w-100','novalidate': 'novalidate','id':'kt_password_define_form' }}) }}
            <!--begin::Heading-->
            <div class="mb-10 text-center">
                <!--begin::Title-->
                <h1 class="text-dark mb-3">{% trans %}Mot de passe{% endtrans %}</h1>
                <!--end::Title-->
                <!--begin::Link-->
                <div class="text-gray-400 fw-bold fs-4">{% trans %}Définir {% endtrans %}
                <a href="" class="link-primary fw-bolder">{% trans %} mot de passe {% endtrans %}</a></div>
                <!--end::Link-->
            </div>
            <!--end::Heading-->
            <!--begin::Input group-->
            <div class="mb-10 fv-row" data-kt-password-meter="true">
                <!--begin::Wrapper-->
                <div class="mb-1">
                    <!--begin::Label-->
                    <label class="form-label fw-bolder text-dark fs-6 required">{% trans %}Mot de passe{% endtrans %}</label>
                    <!--end::Label-->
                    <!--begin::Input wrapper-->
                    <div class="position-relative mb-3">
                        {{ form_row(form.plainPassword, {'attr': {'class': 'form-control form-control-lg form-control-solid',
                        'maxlength': '30' }}) }}
                        <input type="hidden" name="user" value="{{user.uid}}">
                        <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                            <i class="bi bi-eye-slash fs-2"></i>
                            <i class="bi bi-eye fs-2 d-none"></i>
                        </span>
                    </div>
                    <!--end::Input wrapper-->
                    <!--begin::Meter-->
                    <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                        <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                    </div>
                    <!--end::Meter-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Hint-->
                <div class="text-muted">{% trans %}Utilisez 8 caractères ou plus avec un mélange de lettres, de chiffres et de symboles.{% endtrans %}</div>
                <!--end::Hint-->
            </div>
            <!--end::Input group=-->
            <!--begin::Input group-->
            <div class="fv-row mb-5">
                <label class="form-label fw-bolder text-dark fs-6 required">{% trans %}Confirmation du mot de passe{% endtrans %}</label>
                 {{ form_row(form.confirm_password, {'attr': {'class': 'form-control form-control-lg form-control-solid','maxlength': '30' }}) }}
            </div>
            <!--end::Input group-->
            <!--begin::Actions-->
            <div class="text-center">
                <button type="submit" id="kt_password_define_submit" class="btn btn-lg btn-primary">
                    <span class="indicator-label">{% trans %}Soumettre{% endtrans %}</span>
                    <span class="indicator-progress">{% trans %}Patienter...{% endtrans %}
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
            </div>
            <!--end::Actions-->
            {% include 'registration/form.action.html.twig' %}
        {{ form_end(form) }}
        <!--end::Form-->
