{% extends 'base.app.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %} {% endblock %}

{% block body %}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">

        <!--begin::Row-->
        <div class="row g-5 g-xl-8 d-none" id="contact_group_stat_section">
            <div class="col-xl-12">
                <!--begin::Statistics Widget 4-->
                <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="d-flex flex-stack card-p flex-grow-1">
                    <span class="symbol symbol-50px symbol-light-info me-2">
                        <span class="symbol-label">
                        <!--begin::Icon-->
                            <div class="m-0">
                                <i class="fa fa-address-book fs-2x text-info"></i>
                            </div>
                            <!--end::Icon-->
                        <span class="pulse-ring"></span>
                        </span>
                    </span>
                    <div class="d-flex flex-column text-end">
                        <span class="text-dark fw-bolder fs-2" id="stat_group">0</span>
                        <span class="text-muted fw-bold mt-1">{{ 'Groupe(s) de contacts' | trans }}</span>
                    </div>
                    </div>
                    <!--<div class="statistics-widget-allregisteredusers-chart card-rounded-bottom" data-kt-chart-color="info" style="height: 150px"></div>-->
                </div>
                <!--end::Body-->
                </div>
                <!--end::Statistics Widget 4-->
            </div>
        </div>
        <!--end::Row-->

        <!--begin::Row-->
        <div class="row g-5 g-xl-8"  id="contact_stat_section">
           
            <div class="col-xl-12">
                <!--begin::Statistics Widget 4-->
                <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="d-flex flex-stack card-p flex-grow-1">
                    <span class="symbol symbol-50px symbol-light-success me-2">
                        <span class="symbol-label">
                        <!--begin::Icon-->
                            <div class="m-0">
                                <i class="fa fa-address-book fs-2x text-success"></i>
                            </div>
                            <!--end::Icon-->
                        <span class="pulse-ring"></span>
                        <!--end::Svg Icon-->
                        </span>
                    </span>
                    <div class="d-flex flex-column text-end">
                        <span class="text-dark fw-bolder fs-2" id="stat_contact">0</span>
                        <span class="text-muted fw-bold mt-1">{{"Contact(s)"| trans}}</span>
                    </div>
                    </div>
                    <!--<div class="statistics-widget-allactivatedusers-chart card-rounded-bottom" data-kt-chart-color="success" style="height: 150px"></div>-->
                </div>
                <!--end::Body-->
                </div>
                <!--end::Statistics Widget 4-->
            </div>
            
        </div>
        <!--end::Row-->

        <!--begin::Hero card-->
        <div class="card mb-12">
            <!--begin::Hero body-->
            <div class="card-body flex-column p-2">
                <!--begin::Hero nav-->
                <div class="card-rounded bg-light d-flex flex-stack flex-wrap p-5">
                    <!--begin::Nav-->
                    <ul class="nav
                    flex-wrap border-transparent fw-bolder">
                        <!--begin::Nav item-->
                        <li class="nav-item my-1">
                            <a id="contact_button" class="btn btn-color-gray-600 btn-active-white btn-active-color-primary fw-boldest fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase active" href="javascript:;">{% trans %}Mes contacts{% endtrans %}</a>
                        </li>
                        <!--end::Nav item-->
                        <!--begin::Nav item-->
                        <li class="nav-item my-1">
                            <a id="contact_group_button" class="btn btn-color-gray-600 btn-active-white btn-active-color-primary fw-boldest fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 text-uppercase" href="javascript:;">{% trans %}Groupe de contacts{% endtrans %}</a>
                        </li>
                        <!--end::Nav item-->
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Hero nav-->
            </div>
            <!--end::Hero body-->
        
        </div>
        <!--end::Hero card-->

    <!--begin::Card-->
    <div class="card" id="contact_section">

    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <div class="row card-title">
        {% if users|length > 0 %}
            <div class="col-md-5 ">
                <select  data-allow-clear="true" id="list_user_contact_id" data-kt-contact-user="user" data-control="select2" class="form-select form-select-solid fw-bolder min-w-300px mw-300px" data-placeholder="{{'Selectionnez un utilisateur'| trans}}"/>
                        <option value="">Sélectionnez un utilisateur</option>
                        <option value="all">Tous</option>
                        {% for user in users %}
                        <option value="{{ user.uid }}" >{{ user.email }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="offset-md-1 col-md-5">
                <select  data-allow-clear="true" id="list_group_id" data-kt-contact-group="group" data-control="select2" class="form-select form-select-solid fw-bolder min-w-300px mw-300px" data-placeholder="{{'Selectionnez un groupe'| trans}}"/>
                        <option value="">Sélectionnez un groupe</option>
                        {# <option value="all">Tous</option> #}
                        
                </select>
            </div>
        {% else %}
        <div class="col-md-12">
            <select  data-allow-clear="true" id="list_group_id" data-kt-contact-group="group" data-control="select2" class="form-select form-select-solid fw-bolder min-w-300px mw-300px" data-placeholder="{{'Selectionnez un groupe'| trans}}"/>
                    <option value="">Sélectionnez un groupe</option>
                    {# <option value="all">Tous</option> #}
                    {% for group in groups %}
                    <option value="{{ group.uid }}" >{{ group.name }}</option>
                    {% endfor %}
            </select>
        </div>
        <input type="hidden" value="{{ app.user.uid }}" data-kt-contact-user="user" class="form-control form-control-solid w-250px ps-14" />
        {% endif %}
    </div>
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-contact-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="{{'Chercher'| trans}}" />
                
                
            </div>
            <!--end::Search-->
            
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-contact-table-toolbar="base">
                    
                    <!--begin::Filter-->
                    {# <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                    <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->{% trans %}Filtrer{% endtrans %}
                    </button> #}
                    <!--begin::Menu 1-->
                    <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                        <!--begin::Header-->
                        <div class="px-7 py-5">
                            <div class="fs-5 text-dark fw-bolder">{% trans %}Option de filtre{% endtrans %}</div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Separator-->
                        <div class="separator border-gray-200"></div>
                        <!--end::Separator-->
                        <!--begin::Content-->
                        <div class="px-7 py-5" data-kt-contact-table-filter="form">
                            <!--begin::Input group-->
                            <div class="mb-10">
                                <label class="form-label fs-6 fw-bold">{% trans %}Type de paiement{% endtrans %}</label>
                                <select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-contact-table-filter="month" data-hide-search="true">
                                    <option></option>
                                    <option value="jan">January</option>
                                    <option value="feb">February</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="mb-10">
                                <label class="form-label fs-6 fw-bold">Status:</label>
                                <select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-contact-table-filter="status" data-hide-search="true">
                                    <option></option>
                                    <option value="Active">Active</option>
                                    <option value="Expiring">Expiring</option>
                                    <option value="Suspended">Suspended</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end">
                                <button type="reset" class="btn btn-light btn-active-light-primary fw-bold me-2 px-6" data-kt-menu-dismiss="true" data-kt-contact-table-filter="reset">Reset</button>
                                <button type="submit" class="btn btn-primary fw-bold px-6" data-kt-menu-dismiss="true" data-kt-contact-table-filter="filter">Apply</button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Menu 1-->
                    <!--end::Filter-->
                   <!--begin::Importer-->
                    <button type="button" class="btn btn-light-primary me-3" id="open_modal_import_contacts_id">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                    <span class="svg-icon svg-icon-primary svg-icon-2"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Import.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"/>
                            <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 7.000000) rotate(-180.000000) translate(-12.000000, -7.000000) " x="11" y="1" width="2" height="12" rx="1"/>
                            <path d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                            <path d="M14.2928932,10.2928932 C14.6834175,9.90236893 15.3165825,9.90236893 15.7071068,10.2928932 C16.0976311,10.6834175 16.0976311,11.3165825 15.7071068,11.7071068 L12.7071068,14.7071068 C12.3165825,15.0976311 11.6834175,15.0976311 11.2928932,14.7071068 L8.29289322,11.7071068 C7.90236893,11.3165825 7.90236893,10.6834175 8.29289322,10.2928932 C8.68341751,9.90236893 9.31658249,9.90236893 9.70710678,10.2928932 L12,12.5857864 L14.2928932,10.2928932 Z" fill="#000000" fill-rule="nonzero"/>
                        </g>
                    </svg><!--end::Svg Icon-->
                    </span>
                    <!--end::Svg Icon-->{{"Importer"| trans}}</button>
                    <!--end::Importer-->

                    <!--begin::Export-->
                    <button type="button" class="btn btn-light-primary me-3" id="export">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr078.svg-->
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="12.75" y="4.25" width="12" height="2" rx="1" transform="rotate(90 12.75 4.25)" fill="currentColor" />
                            <path d="M12.0573 6.11875L13.5203 7.87435C13.9121 8.34457 14.6232 8.37683 15.056 7.94401C15.4457 7.5543 15.4641 6.92836 15.0979 6.51643L12.4974 3.59084C12.0996 3.14332 11.4004 3.14332 11.0026 3.59084L8.40206 6.51643C8.0359 6.92836 8.0543 7.5543 8.44401 7.94401C8.87683 8.37683 9.58785 8.34458 9.9797 7.87435L11.4427 6.11875C11.6026 5.92684 11.8974 5.92684 12.0573 6.11875Z" fill="currentColor" />
                            <path d="M18.75 8.25H17.75C17.1977 8.25 16.75 8.69772 16.75 9.25C16.75 9.80228 17.1977 10.25 17.75 10.25C18.3023 10.25 18.75 10.6977 18.75 11.25V18.25C18.75 18.8023 18.3023 19.25 17.75 19.25H5.75C5.19772 19.25 4.75 18.8023 4.75 18.25V11.25C4.75 10.6977 5.19771 10.25 5.75 10.25C6.30229 10.25 6.75 9.80228 6.75 9.25C6.75 8.69772 6.30229 8.25 5.75 8.25H4.75C3.64543 8.25 2.75 9.14543 2.75 10.25V19.25C2.75 20.3546 3.64543 21.25 4.75 21.25H18.75C19.8546 21.25 20.75 20.3546 20.75 19.25V10.25C20.75 9.14543 19.8546 8.25 18.75 8.25Z" fill="#C4C4C4" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->{{"Exporter"| trans}}</button>
                    <!--end::Export-->

                    <button type="button" id="add_contact_id" class="btn btn-light-primary {{ pCreate ? "" : "d-none"}}">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Ajouter{% endtrans %}
                    </button>
                    <!--end::Add subscription-->

                    <button type="button" id="kt_modal_add_contact_reload_button" class="btn btn-light-primary d-none">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Reload{% endtrans %}
                    </button>
                </div>
            <!--end::Toolbar-->
            <!--begin::Group actions-->
                <div class="d-flex justify-content-end align-items-center d-none" data-kt-contact-table-toolbar="selected">
                    <div class="fw-bolder me-5">
                    <span class="me-2" data-kt-contact-table-toolbar="selected_count"></span>{{"Sélection(s)"| trans }}</div>
                    <button type="button" class="btn btn-danger" data-kt-contact-table-toolbar="delete_selected">{{"Supprimer"| trans}}</button>
                </div>
            <!--end::Group actions-->

        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_contacts_table">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_contacts_table .form-check-input" value="1" />
                        </div>
                    </th>
                    <th class="min-w-125px th-table">{% trans %}Numéro{% endtrans %}</th>
                    <th class="min-w-125px th-table"><span id="champ1">{% trans %}Champ1{% endtrans %}</span></th>
                    <th class="min-w-125px th-table"><span id="champ2">{% trans %}Champ2{% endtrans %}</span></th>
                    <th class="min-w-125px th-table"><span id="champ3">{% trans %}Champ3{% endtrans %}</span></th>
                    <th class="min-w-125px th-table"><span id="champ4">{% trans %}Champ4{% endtrans %}</span></th>
                    <th class="min-w-125px th-table"><span id="champ5">{% trans %}Champ5{% endtrans %}</span></th>
                    <th class="min-w-125px th-table">{% trans %}Crée le{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Modifié le{% endtrans %}</th>
                    <th class="min-w-125px th-table text-center">{% trans %}Action{% endtrans %}</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">
                
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
    </div>
    <!--end::Card-->


    <!--begin::Group Contact-->
    <div class="card mb-5 mb-xl-10 d-none" id="contact_group_section">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative my-1">
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                    </svg>
                </span>
                <!--end::Svg Icon-->
                <input type="text" data-kt-contact-group-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="{{'Chercher'| trans}}" />
            </div>
            <!--end::Search-->
            
        </div>
        <!--begin::Card title-->
        {% if users|length > 0 %}
        <div class="offset-md-1 mt-3">
        <select  data-allow-clear="true" id="list_user_group_id" data-kt-contact-group="user" data-control="select2" class="form-select form-select-solid fw-bolder min-w-300px mw-300px" data-placeholder="{{'Selectionnez un utilisateur'| trans}}"/>
                <option value="">Sélectionnez un utilisateur</option>
                <option value="all">Tous</option>
                {% for user in users %}
                <option value="{{ user.uid }}" >{{ user.email }}</option>
                {% endfor %}
        </select>
        </div>
        {% else %}
            <input type="hidden" value="{{ app.user.uid }}" data-kt-contact-group="user" class="form-control form-control-solid w-250px ps-14" />
        {% endif %}
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
                <div class="d-flex justify-content-end" data-kt-contact-group-table-toolbar="base">
                    <!--begin::Filter-->
                    {# <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                        <span class="svg-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Filtrer{% endtrans %}
                    </button> #}
                    <!--begin::Menu 1-->
                    <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px" data-kt-menu="true">
                        <!--begin::Header-->
                        <div class="px-7 py-5">
                            <div class="fs-5 text-dark fw-bolder">{% trans %}Option de filtre{% endtrans %}</div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Separator-->
                        <div class="separator border-gray-200"></div>
                        <!--end::Separator-->
                        <!--begin::Content-->
                        <div class="px-7 py-5" data-kt-contact-group-table-filter="form">
                            <!--begin::Input group-->
                            <div class="mb-10">
                                <label class="form-label fs-6 fw-bold">{% trans %}Type de paiement{% endtrans %}</label>
                                <select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-contact-group-table-filter="month" data-hide-search="true">
                                    <option></option>
                                    <option value="jan">January</option>
                                    <option value="feb">February</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="mb-10">
                                <label class="form-label fs-6 fw-bold">Status:</label>
                                <select class="form-select form-select-solid fw-bolder" data-kt-select2="true" data-placeholder="Select option" data-allow-clear="true" data-kt-contact-group-table-filter="status" data-hide-search="true">
                                    <option></option>
                                    <option value="Active">Active</option>
                                    <option value="Expiring">Expiring</option>
                                    <option value="Suspended">Suspended</option>
                                </select>
                            </div>
                            <!--end::Input group-->
                            <!--begin::Actions-->
                            <div class="d-flex justify-content-end">
                                <button type="reset" class="btn btn-light btn-active-light-primary fw-bold me-2 px-6" data-kt-menu-dismiss="true" data-kt-contact-group-table-filter="reset">Reset</button>
                                <button type="submit" class="btn btn-primary fw-bold px-6" data-kt-menu-dismiss="true" data-kt-contact-group-table-filter="filter">Apply</button>
                            </div>
                            <!--end::Actions-->
                        </div>
                        <!--end::Content-->
                    </div>
                    <!--end::Menu 1-->
                    <!--end::Filter-->
                    <!--end::Export-->

                    <button type="button" data-bs-toggle="modal" data-bs-target="#kt_modal_create_contact_group"  class="btn btn-light-primary {{ pGCreate ? "" : "d-none"}}">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Ajouter{% endtrans %}
                    </button>
                    <!--end::Add subscription-->

                    <button type="button" id="kt_modal_add_contact_group_reload_button" class="btn btn-light-primary d-none">
                        <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                        <span class="svg-icon svg-icon-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="currentColor" />
                                <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="currentColor" />
                                <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->{% trans %}Reload{% endtrans %}
                    </button>
                </div>
            <!--end::Toolbar-->
            <!--begin::Group actions-->
                <div class="d-flex justify-content-end align-items-center d-none" data-kt-contact-group-table-toolbar="selected">
                    <div class="fw-bolder me-5">
                    <span class="me-2" data-kt-contact-group-table-toolbar="selected_count"></span>{{"Sélection(s)"| trans}}</div>
                    <button type="button" class="btn btn-danger me-6" data-kt-contact-group-table-toolbar="delete_selected">{{"Supprimer"| trans}}</button>
                    <button type="button" class="btn btn-primary {{ pCreateCampagne ? "" : "d-none"}}" data-kt-contact-group-table-toolbar="campaign">{{"Créer campagne"| trans}}</button>
                </div>
            <!--end::Group actions-->

           
        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_contacts_group_table">
            <!--begin::Table head-->
            <thead>
                <!--begin::Table row-->
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                            <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_contacts_group_table .form-check-input" value="1" />
                        </div>
                    </th>
                    <th class="min-w-125px th-table">{% trans %}Nom{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Champ1{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Champ2{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Champ3{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Champ4{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Champ5{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Crée le{% endtrans %}</th>
                    <th class="min-w-125px th-table">{% trans %}Modifié le{% endtrans %}</th>

                    {# <th class="min-w-125px th-table">{% trans %}Crée le{% endtrans %}</th> #}
                    <th class="min-w-125px th-table text-center">{% trans %}Action{% endtrans %}</th>
                </tr>
                <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="text-gray-600 fw-bold">
                
            </tbody>
            <!--end::Table body-->
        </table>
        <!--end::Table-->
    </div>
    <!--end::Card body-->  
    </div>
    <!--end::Group Contact-->

    </div>
    <!--end::Container-->
</div>
<!--end::Post-->

 <!--begin::Modal - Create Contact App-->
    <div class="modal fade" id="kt_modal_create_contact" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-900px">
            <!--begin::Modal content-->
            <form class="form" id="kt_modal_contact_form">
                <div class="modal-content">
                    <!--begin::Modal header-->
                        <div class="modal-header">
                            <!--begin::Modal title-->
                            <h2>{{"Ajout de Contacts"| trans }}</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div class="btn btn-sm btn-icon btn-active-color-primary" data-kt-contact-modal-action="cancel" >
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                            <!--end::Close-->
                        </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->
                        <div class="modal-body py-lg-10 px-lg-10">
                        
                            <!--begin::Repeater-->
                                <div id="kt_docs_repeater_basic">
                                    <!--begin::Form group-->
                                    <div class="form-group">
                                        <div data-repeater-list="kt_docs_repeater_basic">
                                                        <div class="separator separator-dotted separator-content border-dark my-2 mb-15">
                                                            <div class="row fv">
                                                                        {# <label class="form-label fs-6 fw-bold">{% trans %}Groupe de contacts{% endtrans %}</label> #}
                                                                        <select name="groupe" id="group_id_add_contact" data-allow-clear="true" data-control="select2" data-dropdown-parent="#kt_modal_create_contact" class="form-select form-select-solid fw-bolder min-w-300px mw-300px" data-placeholder="{{'Selectionnez un groupe'| trans}}"/>
                                                                                <option value="">Sélectionnez un groupe</option>
                                                                                
                                                                        </select>
                                                            </div>
                                                        </div>
                                            <div data-repeater-item>
                                                <div class="form-group row">
                                                    
                                                    <div class="row">
                                                        <div class="col-xl-4">
                                                            <!--begin::Input group-->
                                                            <div class="fv input-group mb-8">
                                                                <input type="tel" name="phone" data-index="0" data-name="phone" class="form-control tel" placeholder="97979797" />
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <!--begin::Input group-->
                                                            <div class="fv input-group mb-5">
                                                                <input type="text" name="set1" class="form-control" maxlength="300" placeholder="{{'Champ1'| trans}}" aria-label="{{'Champ1'| trans}}" aria-describedby="basic-addon2"/>
                                                                <span class="input-group-text" id="basic-addon2">
                                                                    <i class="las la-tools fs-4"></i>
                                                                </span>
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <!--begin::Input group-->
                                                            <div class="fv input-group mb-5">
                                                                <input type="text" name="set2" class="form-control" maxlength="300" placeholder="{{'Champ2'| trans}}" aria-label="{{'Champ2'| trans}}" aria-describedby="basic-addon2"/>
                                                                <span class="input-group-text" id="basic-addon2">
                                                                    <i class="las la-tools fs-4"></i>
                                                                </span>
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        
                                                    </div>
                                            
                                                    <div class="row">
                                                        
                                                        <div class="col-xl-4">
                                                            <!--begin::Input group-->
                                                            <div class="fv input-group mb-5">
                                                                <input type="text" name="set3" class="form-control" maxlength="300" placeholder="{{'Champ3'| trans}}" aria-label="{{'Champ3'| trans}}" aria-describedby="basic-addon2"/>
                                                                <span class="input-group-text" id="basic-addon2">
                                                                    <i class="las la-tools fs-4"></i>
                                                                </span>
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <!--begin::Input group-->
                                                            <div class="fv input-group mb-5">
                                                                <input type="text" name="set4" class="form-control" maxlength="300" placeholder="{{'Champ4'| trans}}" aria-label="{{'Champ4'| trans}}" aria-describedby="basic-addon2"/>
                                                                <span class="input-group-text" id="basic-addon2">
                                                                    <i class="las la-tools fs-4"></i>
                                                                </span>
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        <div class="col-xl-4">
                                                            <!--begin::Input group-->
                                                            <div class="fv input-group mb-5">
                                                                <input type="text" name="set5" class="form-control" maxlength="300" placeholder="{{'Champ5'| trans}}" aria-label="{{'Champ5'| trans}}" aria-describedby="basic-addon2"/>
                                                                <span class="input-group-text" id="basic-addon2">
                                                                    <i class="las la-tools fs-4"></i>
                                                                </span>
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row">

                                                        <div class="offset-xl-9 col-xl-3">
                                                            <!--begin::Input group-->
                                                            <div class="input-group mb-0">
                                                                <button type="button" data-repeater-delete  class="btn btn-light-danger">
                                                                    <i class="la la-trash-o"></i>Supprimer
                                                                </button>
                                                                {# <a href="javascript:;" data-repeater-delete class="btn btn-sm btn-light-danger ">
                                                                    <i class="la la-trash-o"></i>Delete
                                                                </a> #}
                                                            </div>
                                                            <!--end::Input group-->
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="separator separator-dotted separator-content border-dark my-2 mb-5">
                                                        <i class="bi bi-telephone"></i>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Form group-->

                                    <!--begin::Form group-->
                                    <div class="form-group mt-5">
                                        <a href="javascript:;" data-repeater-create class="btn btn-light-primary">
                                            <i class="la la-plus"></i>Plus
                                        </a>
                                    </div>
                                    <!--end::Form group-->
                                </div>
                            <!--end::Repeater-->
                            
                        </div>
                    <!--end::Modal body-->

                    <!--begin::Actions-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-kt-contact-modal-action="close">Fermer</button>
                            <button type="submit" class="btn btn-primary" data-kt-contact-modal-action="submit">Enregistrer</button>
                        </div>
                    <!--end::Actions-->
                    <input type="hidden" name="_token" value="{{ csrf_token(app.user.uid) }}" class="form-control" />
                </div>
            </form>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
<!--end::Modal - Create Contact App-->

<!--begin::Modal - Update Contact App-->
    <div class="modal fade" id="kt_modal_update_contact" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-900px">
            <!--begin::Modal content-->
            <form class="form" id="kt_modal_update_contact_form">
                <div class="modal-content">
                    <!--begin::Modal header-->
                        <div class="modal-header">
                            <!--begin::Modal title-->
                            <h2>{{"Modification du Contact"| trans }}</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div class="btn btn-sm btn-icon btn-active-color-primary" data-kt-update-contact-modal-action="cancel" >
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                            <!--end::Close-->
                        </div>
                    <!--end::Modal header-->

                    <!--begin::Modal Update body-->
                    <div class="modal-body py-lg-10 px-lg-10">
                    
                        <!--begin::Form group-->
                                <div class="form-group">
                                    <div class="separator separator-dotted separator-content border-dark my-2 mb-15">
                                            <div class="row fv">
                                                        {# <label class="form-label fs-6 fw-bold">{% trans %}Groupe de contacts{% endtrans %}</label> #}
                                                        <select name="groupe" id="id_group_contact" data-allow-clear="true" data-control="select2" data-dropdown-parent="#kt_modal_update_contact" class="form-select form-select-solid fw-bolder min-w-300px mw-300px" data-placeholder="{{'Selectionnez un groupe'| trans}}"/>
                                                                <option value="">Sélectionnez un groupe</option>
                                                                {% for group in groups %}
                                                                <option value="{{ group.uid }}" >{{ group.name }}</option>
                                                                {% endfor %}
                                                        </select>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <!--begin::Input group-->
                                                <div class="fv input-group mb-8">
                                                    <input type="tel" name="phone" id="phone_id" class="form-control tel" placeholder="97979797" />
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <div class="col-xl-4">
                                                <!--begin::Input group-->
                                                <div class="fv input-group mb-5">
                                                    <input type="hidden" name="_uid" id="contact_id"/>
                                                    <input type="text" name="set1" id="contact_set1" class="form-control" maxlength="300" placeholder="{{'Champ1'| trans}}" aria-label="{{'Champ1'| trans}}" aria-describedby="basic-addon2"/>
                                                    <span class="input-group-text" id="basic-addon2">
                                                        <i class="las la-tools fs-4"></i>
                                                    </span>
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <div class="col-xl-4">
                                                <!--begin::Input group-->
                                                <div class="fv input-group mb-5">
                                                    <input type="text" name="set2" id="contact_set2" class="form-control" maxlength="300" placeholder="{{'Champ2'| trans}}" aria-label="{{'Champ2'| trans}}" aria-describedby="basic-addon2"/>
                                                    <span class="input-group-text" id="basic-addon2">
                                                        <i class="las la-tools fs-4"></i>
                                                    </span>
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            
                                        </div>
                                
                                        <div class="row">
                                            
                                            <div class="col-xl-4">
                                                <!--begin::Input group-->
                                                <div class="fv input-group mb-5">
                                                    <input type="text" name="set3" id="contact_set3" class="form-control" maxlength="300" placeholder="{{'Champ3'| trans}}" aria-label="{{'Champ3'| trans}}" aria-describedby="basic-addon2"/>
                                                    <span class="input-group-text" id="basic-addon2">
                                                        <i class="las la-tools fs-4"></i>
                                                    </span>
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <div class="col-xl-4">
                                                <!--begin::Input group-->
                                                <div class="fv input-group mb-5">
                                                    <input type="text" name="set4" id="contact_set4" class="form-control" maxlength="300" placeholder="{{'Champ4'| trans}}" aria-label="{{'Champ4'| trans}}" aria-describedby="basic-addon2"/>
                                                    <span class="input-group-text" id="basic-addon2">
                                                        <i class="las la-tools fs-4"></i>
                                                    </span>
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            <div class="col-xl-4">
                                                <!--begin::Input group-->
                                                <div class="fv input-group mb-5">
                                                    <input type="text" name="set5" id="contact_set5" class="form-control" maxlength="300" placeholder="{{'Champ5'| trans}}" aria-label="{{'Champ5'| trans}}" aria-describedby="basic-addon2"/>
                                                    <span class="input-group-text" id="basic-addon2">
                                                        <i class="las la-tools fs-4"></i>
                                                    </span>
                                                </div>
                                                <!--end::Input group-->
                                            </div>
                                            
                                        </div>

                                        <div class="separator separator-dotted separator-content border-dark my-2 mb-5">
                                            <i class="bi bi-telephone"></i>
                                        </div>

                                    </div>
                                </div>
                                <!--end::Form group-->

                    </div>
                    <!--end::Modal Update body-->

                    <!--begin::Actions-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-kt-update-contact-modal-action="close">Fermer</button>
                            <button type="submit" class="btn btn-primary" data-kt-update-contact-modal-action="submit">Enregistrer</button>
                        </div>
                    <!--end::Actions-->
                    <input type="hidden" name="_token" value="{{ csrf_token(app.user.uid) }}" class="form-control" />
                </div>
            </form>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
<!--end::Modal - Update Contact App-->

<!--begin::Modal - Create Contact Group App-->
    <div class="modal fade" id="kt_modal_create_contact_group" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-900px">
            <!--begin::Modal content-->
            <form class="form" id="kt_modal_contact_group_form">
                <div class="modal-content">
                    <!--begin::Modal header-->
                        <div class="modal-header">
                            <!--begin::Modal title-->
                            <h2>{{"Ajout de Groupe de Contacts"| trans }}</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div class="btn btn-sm btn-icon btn-active-color-primary" id="hgfds" data-kt-contact-group-modal-action="cancel" >
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                            <!--end::Close-->
                        </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->

                        <div class="modal-body py-lg-10 px-lg-10">

                            <!--begin::Alert-->
                            <div class="alert alert-dismissible bg-light-primary border border-primary mb-10 border-dashed  h-lg-100 d-flex flex-column flex-sm-row w-100 p-5">
                                <!--begin::Icon-->
                                <!--begin::Svg Icon | path: icons/duotune/communication/com003.svg-->
                                <span class="svg-icon svg-icon-2hx svg-icon-primary me-4 mb-1 mb-sm-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.3" d="M12 22C13.6569 22 15 20.6569 15 19C15 17.3431 13.6569 16 12 16C10.3431 16 9 17.3431 9 19C9 20.6569 10.3431 22 12 22Z" fill="currentColor" />
                                        <path d="M19 15V18C19 18.6 18.6 19 18 19H6C5.4 19 5 18.6 5 18V15C6.1 15 7 14.1 7 13V10C7 7.6 8.7 5.6 11 5.1V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V5.1C15.3 5.6 17 7.6 17 10V13C17 14.1 17.9 15 19 15ZM11 10C11 9.4 11.4 9 12 9C12.6 9 13 8.6 13 8C13 7.4 12.6 7 12 7C10.3 7 9 8.3 9 10C9 10.6 9.4 11 10 11C10.6 11 11 10.6 11 10Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--end::Icon-->
                                <!--begin::Content-->
                                <div class="d-flex flex-column pe-0 pe-sm-10">
                                    <h4 class="text-gray-900 fw-bolder">{% trans %}Infos{% endtrans %}</h4>
                                    <div class="fs-6 text-gray-700"> Les champs de saisies intitulés « Champ1, Champ2, 
                                    Champ3, Champ4, Champ5 »représentent des paramètres que vous pouvez définir
                                        afin de les renseigner lors de l'ajout d'un ou des contacts.
                                    </div>
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Alert-->
                            <!--begin::Form group-->
                            <div class="form-group">
                                {# <div class="separator separator-dotted separator-content border-dark my-2 mb-15">
                                <i class="fa fa-address-book fs-2x text-info"></i>
                                </div> #}
                                <div class="form-group row">
                                        
                                    <div class="col-xl-12">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-8">
                                            {% if users|length > 0 %}
                                            <select  data-allow-clear="true" name="user_group" data-dropdown-parent="#kt_modal_create_contact_group" id="list_user_add_group_id" data-control="select2" class="form-select form-select-solid fw-bolder" data-placeholder="{{'Selectionnez un utilisateurs'| trans}}"/>
                                                    <option value="">Sélectionnez un utilisateur</option>
                                                    {% for user in users %}
                                                    <option value="{{ user.uid }}" >{{ user.email }}</option>
                                                    {% endfor %}
                                            </select>
                                            <input type="hidden" name="admin" value="{{ app.user.uid }}" />
                                            {% else %}
                                                <input type="hidden" name="user_group" value="{{ app.user.uid }}" />
                                            {% endif %}
                                        </div> 
                                    </div>
                                    <div class="col-xl-4">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-8">
                                            <input type="text" name="groupName"  class="form-control required " maxlength="300" placeholder="Nom du groupe" />
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <div class="col-xl-4">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-5">
                                            <input type="text" name="set1" class="form-control" maxlength="300" placeholder="{{'Champ1'| trans}}" aria-label="{{'Champ1'| trans}}" aria-describedby="basic-addon2"/>
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="las la-tools fs-4"></i>
                                            </span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <div class="col-xl-4">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-5">
                                            <input type="text" name="set2" class="form-control" maxlength="300" placeholder="{{'Champ2'| trans}}" aria-label="{{'Champ2'| trans}}" aria-describedby="basic-addon2"/>
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="las la-tools fs-4"></i>
                                            </span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    
                                    <div class="col-xl-4">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-5">
                                            <input type="text" name="set3" class="form-control" maxlength="300" placeholder="{{'Champ3'| trans}}" aria-label="{{'Champ3'| trans}}" aria-describedby="basic-addon2"/>
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="las la-tools fs-4"></i>
                                            </span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <div class="col-xl-4">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-5">
                                            <input type="text" name="set4" class="form-control" maxlength="300" placeholder="{{'Champ4'| trans}}" aria-label="{{'Champ4'| trans}}" aria-describedby="basic-addon2"/>
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="las la-tools fs-4"></i>
                                            </span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <div class="col-xl-4">
                                        <!--begin::Input group-->
                                        <div class="fv input-group mb-5">
                                            <input type="text" name="set5" class="form-control" maxlength="300" placeholder="{{'Champ5'| trans}}" aria-label="{{'Champ5'| trans}}" aria-describedby="basic-addon2"/>
                                            <span class="input-group-text" id="basic-addon2">
                                                <i class="las la-tools fs-4"></i>
                                            </span>
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                        
                                </div>
                                                
                            </div>
                            <!--end::Form group-->

                        </div>
                    <!--end::Modal body-->
                    <!--begin::Actions-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-kt-contact-group-modal-action="close">Fermer</button>
                            <button type="button" class="btn btn-primary" data-kt-contact-group-modal-action="submit">Enregistrer</button>
                        </div>
                    <!--end::Actions-->
                    <input type="hidden" name="_token" value="{{ csrf_token(app.user.uid) }}" class="form-control" />
                </div>
            </form>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
<!--end::Modal - Create Contact Group App-->

<!--begin::Modal - Update Contact Group App-->
    <div class="modal fade" id="kt_modal_update_contact_group" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-900px">
            <!--begin::Modal content-->
            <form class="form" id="kt_modal_update_contact_group_form">
                <div class="modal-content">
                    <!--begin::Modal header-->
                        <div class="modal-header">
                            <!--begin::Modal title-->
                            <h2>{{"Modification du Groupe de Contacts"| trans }}</h2>
                            <!--end::Modal title-->
                            <!--begin::Close-->
                            <div class="btn btn-sm btn-icon btn-active-color-primary" data-kt-update-contact-group-modal-action="cancel" >
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                        <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                            <!--end::Close-->
                        </div>
                    <!--end::Modal header-->
                    <!--begin::Modal body-->

                        <div class="modal-body py-lg-10 px-lg-10">
                        
                            <!--begin::Form group-->
                            <div class="form-group">
                                <div class="separator separator-dotted separator-content border-dark my-2 mb-15">
                                <i class="fa fa-address-book fs-2x text-info"></i>
                                </div>
                                
                                <div class="form-group row">
                                    
                                    <div class="row">
                                        <div class="col-xl-4">
                                            <!--begin::Input group-->
                                            <div class="fv input-group mb-8">
                                                <input type="text" name="groupName" id="group_name" class="form-control required " maxlength="300" placeholder="Nom du groupe" />
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input group-->
                                            <div class="fv input-group mb-5">
                                                <input type="text" name="set1" id="group_set1" class="form-control" maxlength="300" aria-label="{{'Champ1'| trans}}" aria-describedby="basic-addon2"/>
                                                <input type="hidden" name="_uid" id="group_uid"/>
                                                <span class="input-group-text" id="basic-addon2">
                                                    <i class="las la-tools fs-4"></i>
                                                </span>
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input group-->
                                            <div class="fv input-group mb-5">
                                                <input type="text" name="set2" id="group_set2" class="form-control" maxlength="300" placeholder="{{'Champ2'| trans}}" aria-label="{{'Champ2'| trans}}" aria-describedby="basic-addon2"/>
                                                <span class="input-group-text" id="basic-addon2">
                                                    <i class="las la-tools fs-4"></i>
                                                </span>
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        
                                    </div>
                            
                                    <div class="row">
                                        
                                        <div class="col-xl-4">
                                            <!--begin::Input group-->
                                            <div class="fv input-group mb-5">
                                                <input type="text" name="set3" id="group_set3" class="form-control" maxlength="300" placeholder="{{'Champ3'| trans}}" aria-label="{{'Champ3'| trans}}" aria-describedby="basic-addon2"/>
                                                <span class="input-group-text" id="basic-addon2">
                                                    <i class="las la-tools fs-4"></i>
                                                </span>
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input group-->
                                            <div class="fv input-group mb-5">
                                                <input type="text" name="set4" id="group_set4" class="form-control" maxlength="300" placeholder="{{'Champ4'| trans}}" aria-label="{{'Champ4'| trans}}" aria-describedby="basic-addon2"/>
                                                <span class="input-group-text" id="basic-addon2">
                                                    <i class="las la-tools fs-4"></i>
                                                </span>
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <div class="col-xl-4">
                                            <!--begin::Input group-->
                                            <div class="fv input-group mb-5">
                                                <input type="text" name="set5" id="group_set5" class="form-control" maxlength="300" placeholder="{{'Champ5'| trans}}" aria-label="{{'Champ5'| trans}}" aria-describedby="basic-addon2"/>
                                                <span class="input-group-text" id="basic-addon2">
                                                    <i class="las la-tools fs-4"></i>
                                                </span>
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                                
                            </div>
                            <!--end::Form group-->

                        </div>
                    <!--end::Modal body-->
                    <!--begin::Actions-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-kt-update-contact-group-modal-action="close">Fermer</button>
                            <button type="button" class="btn btn-primary" data-kt-update-contact-group-modal-action="submit">Enregistrer</button>
                        </div>
                    <!--end::Actions-->
                    <input type="hidden" name="_token" value="{{ csrf_token(app.user.uid) }}" class="form-control" />
                </div>
            </form>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
<!--end::Modal - Update Group Contact App-->

<!--begin::Modal - Importation contacts-->
    <div class="modal fade" id="kt_modal_import_contacts" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content">
                <!--begin::Modal header-->
                <div class="modal-header">
                    <!--begin::Modal title-->
                    <h2 class="fw-bolder">{{"Importation de contacts"| trans}}</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-import-contact-modal-action="close">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
                                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y mx-5 mx-xl-15 mt-0 my-7">
                    <!--begin::Form-->
                    <form id="kt_modal_import_contacts_form" class="form" action="#">
                        <div class="row">
                            <div class="fv mb-10 col-md-7 text-center">
                                {% if users|length > 0 %}
                                            <select name="group" id="id_group_contact_import" data-allow-clear="true" data-control="select2" data-dropdown-parent="#kt_modal_import_contacts" class="form-select form-select-solid fw-bolder" data-placeholder="{{'Selectionnez un groupe'| trans}}"/>
                                                    <option value="">Sélectionnez un groupe</option>
                                                    
                                            </select>
                                {% else %}
                                            <select name="group" id="id_group_contact_import" data-allow-clear="true" data-control="select2" data-dropdown-parent="#kt_modal_import_contacts" class="form-select form-select-solid fw-bolder " data-placeholder="{{'Selectionnez un groupe'| trans}}"/>
                                                    <option value="">Sélectionnez un groupe</option>
                                                    {% for group in groups %}
                                                    <option value="{{ group.uid }}" >{{ group.name }}</option>
                                                    {% endfor %}
                                            </select>
                                {% endif %}
                            </div>
                            <div class="col-md-5">
                                <button type="button" id="add_group_id" class="btn btn-light-primary w-100" >
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen035.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black" />
                                            <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black" />
                                            <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    {% trans %}Nouveau Groupe{% endtrans %}
                                </button>
                            </div>
                            <input type="hidden" name="hidden_file" value=""/>
                            <input type="hidden" name="_token" value="{{ csrf_token(app.user.uid) }}" class="form-control" />
                            <!--begin::Info-->
                            <div class="col-md-12 mb-5">
                                <i class="fa fa-info-circle"></i>
                                <span onclick="infoImportFile();" class="fs-7 fw-bold text-hover-inverse-primary bg-hover-primary p-1 fw-6">
                                {{"Cliquez ici pour télécharger un exemple de formatage du fichier à importer."|trans}}
                                </span>
                            </div>
                            <!--end::Info-->
                            <div class="col-md-12">
                            <!--begin::Dropzone-->
                            <div class="dropzone" id="kt_import">
                                <!--begin::Message-->
                                <div class="dz-message needsclick">
                                    <!--begin::Icon-->
                                    <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                                    <!--end::Icon-->
                                    <!--begin::Info-->
                                    <div class="ms-4">
                                        <h3 class="fs-5 fw-bolder text-gray-900 mb-1">
                                            <button type="button" class="btn btn-sm btn-success">{{"Ajouter le fichier"|trans}}</button>
                                        </h3>
                                        <span class="fs-7 fw-bold text-gray-400">{{"Glissez et déposez le fichier ici."|trans}}</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Message-->
                            </div>
                            <!--end::Dropzone-->
                            </div>
                        </div>
                        <!--begin::Actions-->
                        <div class="text-center mt-10">
                            <button type="reset" class="btn btn-light me-3" data-kt-import-contact-modal-action="cancel">Fermer</button>
                            <button type="submit" class="btn btn-primary" data-kt-import-contact-modal-action="submit">
                                <span class="indicator-label">{{"Enregistrer"| trans}}</span>
                                <span class="indicator-progress">{{"Veuillez patienter..."| trans}}
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Modal body-->
            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
<!--end::Modal - Importation contacts-->


{% endblock %}


{% block javascripts %} 
<script type="text/javascript">

   
    const pUpdate           = {{pUpdate}};
	const pDelete           = {{pDelete}};
    const pCreate           = {{pCreate}};

    const pGUpdate          = {{pGUpdate}};
	const pGDelete          = {{pGDelete}};
    const pGCreate          = {{pGCreate}};

    const pCreateCampagne   = {{pCreateCampagne}};

    const formMModalButton      = $("#kt_modal_payment_request_treat_button");
    const contact_list          = "{{ path('app_contact_list') }}";
    const contact_new           = "{{ path('app_contact_new') }}";
    const contact_delete        = "{{ path('app_contact_delete') }}";
    const contact_edit          = "{{ path('app_contact_edit') }}";
    const contact_import        = "{{ path('app_contact_import') }}";
    const csrfToken             = "{{ csrf_token(app.user.uid) }}";

    const group_list            = "{{ path('app_group_list') }}";
    const group_new             = "{{ path('app_contact_group_new') }}";
    const group_delete          = "{{ path('app_contact_group_delete') }}";
    const group_edit            = "{{ path('app_contact_group_edit') }}";
    const get_group             = "{{ path('app_get_group') }}";
    const get_champ_group       = "{{ path('app_get_champ_group') }}";


    const url_import            = "{{path('smscampaign_import')}}";
    const url_campaign          = "{{path('campaign_sms_view_created')}}";

    const _canceled             = "{{'Annuler'|trans}}";
    const _redirect             = '{{"Vous serez rédiriger vers la page de création de campagne"|trans}}';
    const _selectOneUser        = '{{"Veuillez sélectionner spécifiquement un utilisateur et non <<tous>> au niveau de la sélection des utilisateurs"|trans}}';
    const _selectUser           =  '{{"Veuillez sélectionner d\'abord un utilisateur"|trans}}';

</script>
<!--end::Page Custom Javascript-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="{{ asset('app/plugins/custom/datatables/datatables.bundle.js') }}"></script>
<!--end::Page Vendors Javascript-->

<script src="{{ asset('app/js/queries/contact/overview.js') }}"></script>
<script src="{{ asset('app/plugins/custom/formrepeater/formrepeater.bundle.js') }}"></script>
<script src="{{ asset('app/js/queries/contact/list.js') }}"></script>
<script src="{{ asset('app/js/queries/contact/add.js') }}"></script>
<script src="{{ asset('app/js/queries/contact/delete.js') }}"></script>
<script src="{{ asset('app/js/queries/contact/update.js') }}"></script>
<script src="{{ asset('app/js/queries/contact/import.js') }}"></script>


<script src="{{ asset('app/js/queries/group-contact/list.js') }}"></script>
<script src="{{ asset('app/js/queries/group-contact/add.js') }}"></script>
<script src="{{ asset('app/js/queries/group-contact/delete.js') }}"></script>
<script src="{{ asset('app/js/queries/group-contact/update.js') }}"></script>


<!--end::Page Vendors Javascript-->
<!--end::Page Custom Javascript-->
{% endblock %}

