
{% set _locale = app.request.locale|default('fr') %}
{% set route   = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		<meta charset="UTF-8">
        <title>{% block title %}{{title}} {% endblock %}</title>
		<meta name="keywords" content="SMS, SMS Banking">
        <meta name="description" content="{{"Solution SMS professionnels, elle vous permet d'importer votre base de données de contacts et de gérer vos campagnes SMS. C'est un moyen d'envoi de messages personnalisés, groupés en quantité importante partout dans le monde. Elle dispose également d'une API facile à intégrer et flexible, très pratique pour les développeurs."| trans}}">
        <meta name="author" content="{{ brand.name }}">
		<meta property="og:locale" content="{{ _locale }}" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="{{title}}" />
		<meta property="og:url" content="{{ baseUrl }}" />
		<meta property="og:site_name" content="{{ brand.name }} |{{ brand.name }}" />
		<!-- Favicons -->
        <link href="{{ asset('app/uploads/brands/logos/'~ brand.name|lower ~'.png') }}" rel="icon">
        <link href="{{ brand.apple_touch_icon }}" rel="apple-touch-icon">
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{{ asset('app/plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('app/css/style.bundle.css') }}" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
        <link rel="stylesheet" href="{{ asset('librairies/intl/build/css/intlTelInput.css') }}">
        {% block stylesheets %}{% endblock %}
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="bg-body">
		<!--begin::Main-->
		{% block body %}{% endblock %}
		<!--end::Main-->



		<!--begin::Javascript-->
        <!--begin::Global Javascript Bundle(used by all pages)-->
        <script src="{{ asset('app/plugins/global/plugins.bundle.js') }}"></script>
        <script src="{{ asset('app/js/scripts.bundle.js') }}"></script>
        <script src="{{ asset('librairies/intl/build/js/intlTelInput.min.js') }}"></script>
		<script src="{{ asset('app/js/queries/public-app/country-flag-input.js') }}"></script>
		 <script src="{{ asset('app/js/queries/general.js') }}"></script>
        <!--end::Global Javascript Bundle-->
		<!--end::Javascript-->
        {% include 'translations/global.html.twig' %}
		{% include 'section/intl.input.html.twig' %}
    	{% include 'section/additionnal.html.twig' %}
    	{% include 'section/toastr.flash.html.twig' %}
		<!--begin::Page Custom Javascript(used by this page)-->
		<script>
			const register_url     = "{{path('app_register')}}";
			const password_reset_url     = "{{path('app_init_reset')}}";
			const password_resetting_new = "{{path('app_password_resetting_new')}}"
			const login_url         = "{{path('app_login', {'slug': 'registered'})}}";
		</script>
		                            <!--begin::Form-->
        {% if route    == "app_register" %}     
		<script src="{{ asset('app/js/queries/authentication/sign-up/general.js') }}"></script>
        {% elseif route == 'app_init_reset' %}
		<script src="{{ asset('app/js/queries/authentication/password/general.js') }}"></script>
		{% elseif route == 'app_password_resetting' %}
		<script src="{{ asset('app/js/queries/authentication/password/definer.js') }}"></script>
		{% elseif route == 'app_login' %}
		<script src="{{ asset('app/js/queries/authentication/sign-in/general.js') }}"></script>
		{% endif %}
		<!--end::Page Custom Javascript-->
        {% block javascripts %} {% endblock %}
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>
