{% set _locale = app.request.locale|default('fr') %}
{% set route   = app.request.attributes.get('_route') %}
{% set uri = app.request.requestUri %}

<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
            var ajaxBaseUrl = "{{ baseUrl }}/{{ _locale }}";
        </script>
        <!--end::Javascript-->
        <meta charset="UTF-8">
        <title>{% block title %}{{title}}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="{{ brand.name }}">
		<meta property="og:locale" content="{{ _locale }}" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="{{title}}" />
		<meta property="og:url" content="{{ baseUrl }}" />
		<meta property="og:site_name" content="{{ brand.name }} |{{ brand.name }}" />
		<link rel="canonical" href="" />
		<!-- Favicons -->
        <link href="{{ brand.favicon }}" rel="icon">
        <link href="{{ brand.apple_touch_icon }}" rel="apple-touch-icon">
		<!--begin::Fonts-->
		{#<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />#}
		<!--end::Fonts-->
        <!--begin::Page Vendor Stylesheets(used by this page)-->
		<link href="{{ asset('app/plugins/custom/datatables/datatables.bundle.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('app/plugins/custom/vis-timeline/vis-timeline.bundle.css') }}" rel="stylesheet" type="text/css" />
		<!--end::Page Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{{ asset('app/plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('app/css/poppins.css?family=Poppins:300,400,500,600,700') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('app/css/style.bundle.css') }}" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
        <!--begin::Cookie alert-->
        <link href="{{ asset('app/plugins/custom/cookiealert/cookiealert.bundle.css') }}" rel="stylesheet" type="text/css"/>
        <!--end::Cookie alert-->
        <link rel="stylesheet" href="{{ asset('librairies/intl/build/css/intlTelInput.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
            <!--begin::Aside-->
            <div id="kt_aside" class="aside aside-dark aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
                <!--begin::Brand-->
                <div class="aside-logo flex-column-auto" id="kt_aside_logo">
                    <!--begin::Logo-->
                    <a href="javascript:;">
                        <img alt="Logo" src="{{ asset('app/media/logos/logo-1-dark.svg') }}" class="h-25px logo" />
                    </a>
                    <!--end::Logo-->
                    <!--begin::Aside toggler-->
                    <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
                        <span class="svg-icon svg-icon-1 rotate-180">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="currentColor" />
                                <path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Aside toggler-->
                </div>
                <!--end::Brand-->
                 <!--begin::Aside menu-->
                <div class="aside-menu flex-column-fluid">
                    <!--begin::Aside Menu-->
                    <div class="hover-scroll-overlay-y my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="0">
                        <!--begin::Menu-->
                        <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true" data-kt-menu-expand="false">
                            <div class="menu-item">
                                <a class="menu-link {{menu(uri, path('app_home')) }}" href="{{ path('app_home') }}">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/stockholm/Design/PenAndRuller.svg-->
                                        <i class="bi bi-house fs-3"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{{ 'Tableau de bord' | trans }} </span>
                                </a>
                            </div>
                            {% if permission(["PFIL0","AFFL0"], app.user, false) %}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Mon compte' | trans }}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if permission(["PFIL0"], app.user) %}
                            <div class="menu-item">
                                <a class="menu-link {{menu(uri, path('app_profile')) }}" href="{{ path('app_profile') }}">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/stockholm/Design/PenAndRuller.svg-->
                                        <i class="bi bi-person-circle fs-3"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{{ 'Mon profil' | trans }} </span>
                                </a>
                            </div>
                            {% endif %}
                            {% if permission(["AFFL0"], app.user) %}
                            <div class="menu-item">
                                <a class="menu-link {{menu(uri, path('app_affiliate_index')) }}" href="{{ path('app_affiliate_index') }}">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/stockholm/Design/PenAndRuller.svg-->
                                        <i class="bi bi-people fs-3"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{{ 'Comptes affiliés' | trans }} </span>
                                </a>
                            </div>
                            {% endif %}

                            {% if permission(["MET0"], app.user, false) and app.user.role.level >= 3 %}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Retrait de fonds' | trans }}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if permission(["MET0"], app.user) and app.user.role.level >= 3 %}
                            <div class="menu-item">
                                <a class="menu-link {{menu(uri, path('app_profile')) }}" href="{{ path('app_profile') }}">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/stockholm/Design/PenAndRuller.svg-->
                                        <i class="bi bi-coin fs-3"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{{ 'Méthodes de paiement' | trans }} </span>
                                </a>
                            </div>
                            {% endif %}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ "Carnet d'adresse" | trans }}</span>
                                </div>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link " href="{{ path('app_profile') }}">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/stockholm/Design/PenAndRuller.svg-->
                                        <i class="fas fa-address-book fs-3"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{{ 'Contacts' | trans }} </span>
                                </a>
                            </div>
                            <!--end::Menu-->
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Transactions' | trans }}</span>
                                </div>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link" href="{{path('app_transaction_index') }}" title="{{'Historique des recharge'|trans}}" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen019.svg-->
                                        <span class="svg-icon svg-icon-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="currentColor" />
                                                <path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{% trans %}Recharge{% endtrans %}</span>
                                </a>
                            </div>

                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Congiguration' | trans }}</span>
                                </div>
                            </div>
                            {% if permission(["UTI0"], app.user) %}
                            <div class="menu-item">
                                <a class="menu-link {{ menu(uri, path('app_router_index')) }}" href="{{ path('app_router_index') }}">
                                    <span class="menu-icon">
                                       <i class="bi bi-hdd-network fs-3"></i>
                                    </span>
                                    <span class="menu-title">{{ "Routes" | trans }}</span>
                                </a>
                            </div>
                            {% endif %}
                            {% if permission(["ROL0"], app.user) %}
                             <div class="menu-item">
                                <a class="menu-link {{ menu(uri, path('app_status_index')) }}" href="{{ path('app_status_index') }}">
                                    <span class="menu-icon">
                                        <i class="bi bi-arrow-repeat fs-3"></i>
                                    </span>
                                    <span class="menu-title">{{ "Statuts" | trans }}</span>
                                </a>
                            </div>
                            {% endif %}

                            {% if permission(["UTI0","PER0","ROL0"], app.user, false) %}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Gestion Utilisateurs' | trans }}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% if permission(["UTI0"], app.user) %}
                            <div class="menu-item">
                                <a class="menu-link {{ menu(uri, path('app_user_index')) }}" href="{{ path('app_user_index') }}">
                                    <span class="menu-icon">
                                       <i class="bi bi-people fs-3"></i>
                                    </span>
                                    <span class="menu-title">{{ "Utilisateurs" | trans }}</span>
                                </a>
                            </div>
                            {% endif %}
                            {% if permission(["ROL0"], app.user) %}
                             <div class="menu-item">
                                <a class="menu-link {{ menu(uri, path('app_user_role')) }}" href="{{ path('app_user_role') }}">
                                    <span class="menu-icon">
                                        <i class="bi bi-ui-checks fs-3"></i>
                                    </span>
                                    <span class="menu-title">{{ "Rôles" | trans }}</span>
                                </a>
                            </div>
                            {% endif %}
                            {% if permission(["PER0"], app.user) %}
                             <div class="menu-item">
                                <a class="menu-link {{ menu(uri, path('app_user_permission_index')) }}" href="{{ path('app_user_permission_index') }}">
                                    <span class="menu-icon">
                                        <i class="bi bi-key fs-3"></i>
                                    </span>
                                    <span class="menu-title">{{ "Permissions" | trans }}</span>
                                </a>
                            </div>
                            {% endif %}
                             {% if permission(["TRAN0"], app.user) %}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Comptabilité' | trans }}</span>
                                </div>
                            </div>
                             <div class="menu-item">
                                <a class="menu-link {{ menu(uri, path('app_transaction_index')) }}" href="{{ path('app_transaction_index') }}">
                                    <span class="menu-icon">
                                       <i class="bi bi-currency-exchange fs-3"></i>
                                    </span>
                                    <span class="menu-title">{{ "Transactions" | trans }}</span>
                                </a>
                            </div>
                            {% endif %}
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Développeur & API' | trans }}</span>
                                </div>
                            </div>
                            <div class="menu-item">
                                <a class="menu-link " href="{{ path('app_user_apikey') }}">
                                    <span class="menu-icon">
                                        <!--begin::Svg Icon | path: icons/stockholm/Design/PenAndRuller.svg-->
                                        <i class="bi bi-gear-wide-connected fs-3"></i>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="menu-title">{{ 'Intégration & clé API' | trans }} </span>
                                </a>
                            </div>
                            <div class="menu-item">
                                <div class="menu-content pt-8 pb-2">
                                    <span class="menu-section text-muted text-uppercase fs-8 ls-1">{{ 'Aide' | trans }}</span>
                                </div>
                            </div>
                            <div class="menu-item">
                            <a class="menu-link" href="">
                                <span class="menu-icon">
                                    <!--begin::Svg Icon | path: icons/duotune/graphs/gra006.svg-->
                                    <span class="svg-icon svg-icon-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M13 5.91517C15.8 6.41517 18 8.81519 18 11.8152C18 12.5152 17.9 13.2152 17.6 13.9152L20.1 15.3152C20.6 15.6152 21.4 15.4152 21.6 14.8152C21.9 13.9152 22.1 12.9152 22.1 11.8152C22.1 7.01519 18.8 3.11521 14.3 2.01521C13.7 1.91521 13.1 2.31521 13.1 3.01521V5.91517H13Z" fill="currentColor" />
                                            <path opacity="0.3" d="M19.1 17.0152C19.7 17.3152 19.8 18.1152 19.3 18.5152C17.5 20.5152 14.9 21.7152 12 21.7152C9.1 21.7152 6.50001 20.5152 4.70001 18.5152C4.30001 18.0152 4.39999 17.3152 4.89999 17.0152L7.39999 15.6152C8.49999 16.9152 10.2 17.8152 12 17.8152C13.8 17.8152 15.5 17.0152 16.6 15.6152L19.1 17.0152ZM6.39999 13.9151C6.19999 13.2151 6 12.5152 6 11.8152C6 8.81517 8.2 6.41515 11 5.91515V3.01519C11 2.41519 10.4 1.91519 9.79999 2.01519C5.29999 3.01519 2 7.01517 2 11.8152C2 12.8152 2.2 13.8152 2.5 14.8152C2.7 15.4152 3.4 15.7152 4 15.3152L6.39999 13.9151Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </span>
                                <span class="menu-title">{{ "Centre d'aide" | trans }}</span>
                            </a>
                        </div>
                        </div>
                        <!--end::Menu-->
                    </div>
                    <!--end::Aside Menu-->
                </div>
                <!--end::Aside menu-->
                {% if permission(["LOG0"], app.user) %}
                <!--begin::Footer-->
                <div class="aside-footer flex-column-auto pt-5 pb-7 px-5" id="kt_aside_footer">
                    <a href="{{ path('app_logs') }}" class="btn btn-custom btn-primary w-100"
                    data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click" title="{{'Voir l\'activité des utilisateurs' | trans }}">
                        <span class="btn-label">{{'Logs'| trans }}</span>
                        <!--begin::Svg Icon | path: icons/duotune/general/gen005.svg-->
                        <span class="svg-icon btn-icon svg-icon-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM12.5 18C12.5 17.4 12.6 17.5 12 17.5H8.5C7.9 17.5 8 17.4 8 18C8 18.6 7.9 18.5 8.5 18.5L12 18C12.6 18 12.5 18.6 12.5 18ZM16.5 13C16.5 12.4 16.6 12.5 16 12.5H8.5C7.9 12.5 8 12.4 8 13C8 13.6 7.9 13.5 8.5 13.5H15.5C16.1 13.5 16.5 13.6 16.5 13ZM12.5 8C12.5 7.4 12.6 7.5 12 7.5H8C7.4 7.5 7.5 7.4 7.5 8C7.5 8.6 7.4 8.5 8 8.5H12C12.6 8.5 12.5 8.6 12.5 8Z" fill="currentColor" />
                                <rect x="7" y="17" width="6" height="2" rx="1" fill="currentColor" />
                                <rect x="7" y="12" width="10" height="2" rx="1" fill="currentColor" />
                                <rect x="7" y="7" width="6" height="2" rx="1" fill="currentColor" />
                                <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor" />
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                    </a>
                </div>
                {% endif %}
                <!--end::Footer-->

            </div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" style="" class="header align-items-stretch">
                    <!--begin::Container-->
                    <div class="container-fluid d-flex align-items-stretch justify-content-between">
                        <!--begin::Aside mobile toggle-->
                        <div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
                            <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_mobile_toggle">
                                <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                                <span class="svg-icon svg-icon-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="currentColor" />
                                        <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </div>
                        </div>
                        <!--end::Aside mobile toggle-->
                        <!--begin::Mobile logo-->
                        <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                            <a href="javascript:;" class="d-lg-none">
                                <img alt="Logo" src="{{ asset('app/media/logos/logo-2.svg') }}" class="h-30px" />
                            </a>
                        </div>
                        <!--end::Mobile logo-->
                        <!--begin::Wrapper-->
                        <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                            <!--begin::Navbar-->
                            <div class="d-flex align-items-stretch" id="kt_header_nav">
                                <!--begin::Menu wrapper-->
                                <div class="header-menu align-items-stretch" data-kt-drawer="true" data-kt-drawer-name="header-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_header_menu_mobile_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav'}">
                                    <!--begin::Menu-->
                                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                                        <div class="menu-item me-lg-1">
                                            <a class="menu-link py-3" href="">
                                                <span class="menu-title">{% trans %}Backoffice{% endtrans %}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!--end::Menu-->
                                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                                        <div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item here show me-lg-1">
                                            <span class="menu-link py-3">
                                                <span class="menu-title">{% trans %}Campagnes{% endtrans %}</span>
                                                <span class="menu-arrow d-lg-none"></span>
                                            </span>
                                            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
                                                <div class="menu-item">
                                                    <a class="menu-link active py-3" href="../../demo1/dist/index.html">
                                                        <span class="menu-bullet">
                                                            <span class="bullet bullet-dot"></span>
                                                        </span>
                                                        <span class="menu-title">SMS</span>
                                                    </a>
                                                </div>
                                                <div class="menu-item">
                                                    <a class="menu-link py-3" href="../../demo1/dist/dashboards/ecommerce.html">
                                                        <span class="menu-bullet">
                                                            <span class="bullet bullet-dot"></span>
                                                        </span>
                                                        <span class="menu-title">EMAIL</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu menu-lg-rounded menu-column menu-lg-row menu-state-bg menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-400 fw-bold my-5 my-lg-0 align-items-stretch" id="#kt_header_menu" data-kt-menu="true">
                                        <div class="menu-item me-lg-1">
                                            <a class="menu-link py-3" href="">
                                                <span class="menu-title">{% trans %}Recharge{% endtrans %}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!--end::Menu-->
                                </div>
                                <!--end::Menu wrapper-->
                            </div>
                            <!--end::Navbar-->
                            <!--begin::Toolbar wrapper-->
                            <div class="d-flex align-items-stretch flex-shrink-0">
                                <!--begin::User menu-->
                                <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                                    <!--begin::Menu wrapper-->
                                    <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                        <img id="menu_profile_avatar" src="{{ asset('app/uploads/avatars/'~ app.user.profilePhoto ~'') }}" alt="{{  app.user.brand.name}}" />
                                    </div>
                                    <!--begin::User account menu-->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <div class="menu-content d-flex align-items-center px-3">
                                                <!--begin::Avatar-->
                                                <div class="symbol symbol-50px me-5">
                                                    <img id="menu_x_profile_avatar" alt="Logo" src="{{ asset('app/uploads/avatars/'~ app.user.profilePhoto ~'') }}" />
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::Username-->
                                                <div class="d-flex flex-column">
                                                    <div class="fw-bolder d-flex align-items-center fs-5"> {% if  app.user.usetting %} {{ app.user.usetting.firstname}} {% else %} {{ app.user.email }} {% endif %}
                                                    <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">{{ app.user.role.name}}</span></div>
                                                    <a href="javascript:;" class="fw-bold text-muted text-hover-primary fs-7">{{ app.user.phone }}</a>
                                                </div>
                                                <!--end::Username-->
                                            </div>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-5">
                                            <a href="{{path("app_profile")}}" class="menu-link px-5">{% trans %}Mon profil{% endtrans %}</a>
                                        </div>

                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-5" data-kt-menu-trigger="hover" data-kt-menu-placement="left-start">
                                            <a href="javascript:;" class="menu-link px-5">
                                                <span class="menu-title position-relative">{% trans %}Langue{% endtrans %}
                                                <span class="fs-8 rounded bg-light px-3 py-2 position-absolute translate-middle-y top-50 end-0">
                                                {% if _locale == 'fr' %} {% trans %}Français{% endtrans %} {% else %} {% trans %}Anglais{% endtrans %} {% endif %}

                                                {% if _locale == 'fr' %}
                                                    <img class="w-15px h-15px rounded-1 ms-2" src="{{ asset('app/media/flags/france.svg') }}" alt="" /></span>
                                                {% else %}
                                                    <img class="w-15px h-15px rounded-1 ms-2" src="{{ asset('app/media/flags/united-states.svg') }}" alt="" /></span>
                                                {% endif %}
                                                </span>
                                            </a>
                                            <!--begin::Menu sub-->
                                            <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="{{path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'fr'}))}}" class="menu-link d-flex px-5 {% if _locale == 'fr' %} active {% endif %}">
                                                    <span class="symbol symbol-20px me-4">
                                                        <img class="rounded-1" src="{{ asset('app/media/flags/france.svg') }}" alt="" />
                                                    </span>{% trans %}Français{% endtrans %}</a>
                                                </div>
                                                <!--end::Menu item-->
                                                <!--begin::Menu item-->
                                                <div class="menu-item px-3">
                                                    <a href="{{path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale':'en'}))}}" class="menu-link d-flex px-5 {% if _locale == 'en' %} active {% endif %}">
                                                    <span class="symbol symbol-20px me-4">
                                                        <img class="rounded-1" src="{{ asset('app/media/flags/united-states.svg') }}" alt="" />
                                                    </span>{% trans %}Anglais{% endtrans %}</a>
                                                </div>
                                                <!--end::Menu item-->
                                            </div>
                                            <!--end::Menu sub-->
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-5">
                                            <a href="{{path('app_logout')}}" class="menu-link px-5">{% trans %}Me déconnecter{% endtrans %}</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-5">
                                            <div class="menu-content px-5">
                                                <label class="form-check form-switch form-check-custom form-check-solid pulse pulse-success" for="kt_user_menu_dark_mode_toggle">
                                                    <input class="form-check-input w-30px h-20px" type="checkbox" value="1" name="mode" id="kt_user_menu_dark_mode_toggle" data-kt-url="javascript:;" />
                                                    <span class="pulse-ring ms-n1"></span>
                                                    <span class="form-check-label text-gray-600 fs-7">{% trans %} Mode nuit{% endtrans %}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::User account menu-->
                                    <!--end::Menu wrapper-->
                                </div>
                                <!--end::User menu-->
                                <!--begin::Header menu toggle-->
                                <div class="d-flex align-items-center d-lg-none ms-2 me-n3" title="Show header menu">
                                    <div class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_header_menu_mobile_toggle">
                                        <!--begin::Svg Icon | path: icons/duotune/text/txt001.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M13 11H3C2.4 11 2 10.6 2 10V9C2 8.4 2.4 8 3 8H13C13.6 8 14 8.4 14 9V10C14 10.6 13.6 11 13 11ZM22 5V4C22 3.4 21.6 3 21 3H3C2.4 3 2 3.4 2 4V5C2 5.6 2.4 6 3 6H21C21.6 6 22 5.6 22 5Z" fill="currentColor" />
                                                <path opacity="0.3" d="M21 16H3C2.4 16 2 15.6 2 15V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V15C22 15.6 21.6 16 21 16ZM14 20V19C14 18.4 13.6 18 13 18H3C2.4 18 2 18.4 2 19V20C2 20.6 2.4 21 3 21H13C13.6 21 14 20.6 14 20Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                </div>
                                <!--end::Header menu toggle-->
                            </div>
                            <!--end::Toolbar wrapper-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                {% block body %}{% endblock %}
                <!--end::Content-->

                <!-- Toaster for notify accepted cookies -->
                <div class="position-fixed top-300 end-0 p-3 z-index-3">
                    <div id="kt_docs_toast_cookies" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header">
                            <i class="text-success bi bi-dice-1"> </i>  &nbsp;
                            <strong class="me-auto"> {{ brand.name }} </strong>
                            <small> {% trans %}Maintenant{% endtrans %}</small>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {% trans %}Vous avez accepté les cookies sur {% endtrans %} {{ brand.name }}
                        </div>
                    </div>
                </div>
                <!--end::Toast-->

                <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-dark order-2 order-md-1">
                            <span class="text-muted fw-bold me-1">{{ brand.year }} ©</span>
                            <a href="{{ brand.name }}" target="_blank" class="text-gray-800 text-hover-primary">{{ brand.name }}</a>
                        </div>
                        <!--end::Copyright-->
                        <!--begin::Menu-->
                        <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                            <li class="menu-item">
                                <a href="" target="_blank" class="menu-link px-2">  {{'A propos' | trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">{{'Support' | trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
                            </li>
                        </ul>
                        <!--end::Menu-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    <!--begin::Drawers-->
    <!--end::Drawers-->
    <!--end::Main-->
    <!--begin::Engage toolbar-->
    {% include 'loading.html.twig' %}
    <!--end::Engage toolbar-->
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
                <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--end::Scrolltop-->
    <!--begin::Modals-->
    <!--end::Modals-->

    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="{{ asset('app/plugins/global/plugins.bundle.js') }}"></script>
    <script src="{{ asset('app/js/scripts.bundle.js') }}"></script>
    <script src="{{asset('librairies/intl/build/js/intlTelInput.min.js') }}"></script>
    <script src="{{ asset('app/js/queries/app-theme-mode.js') }}"></script>
    <script src="{{ asset('app/js/queries/general.js') }}"></script>
    <script>
    var load	             =	$("#loading-container");
    </script>
    <!--end::Global Javascript Bundle-->
    {% include 'toastr.flash.html.twig' %}
    {% include 'translations/global.html.twig' %}
    <!--end::Javascript-->
    {% block javascripts %}{% endblock %}
    </body>
</html>
