<!DOCTYPE html>

<title>Transaction</title>

{% block body %}
    <h1>Transaction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>TransactionId</th>
                <td>{{ transaction.transactionId }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ transaction.reference }}</td>
            </tr>
            <tr>
                <th>Method</th>
                <td>{{ transaction.method }}</td>
            </tr>
            <tr>
                <th>ReferenceHash</th>
                <td>{{ transaction.referenceHash }}</td>
            </tr>
            <tr>
                <th>Agregator</th>
                <td>{{ transaction.agregator }}</td>
            </tr>
            <tr>
                <th>Canal</th>
                <td>{{ transaction.canal }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ transaction.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ transaction.email }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ transaction.status }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ transaction.updatedAt ? transaction.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transaction_index') }}">back to list</a>

    <a href="{{ path('app_transaction_edit', {'id': transaction.id}) }}">edit</a>

    {{ include('transaction/_delete_form.html.twig') }}
{% endblock %}
