{% extends 'base.email.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<!--begin:Email content-->
<div style="padding-bottom: 30px; font-size: 17px;">
	<strong>{% trans %}Bonjour {% endtrans %}</strong>
</div>
<div style="padding-bottom: 30px">{% trans %}Vous recevez cet e-mail car nous avons reçu une demande 
de réinitialisation du mot de passe de votre compte. Pour procéder à la réinitialisation du mot de passe, 
veuillez cliquer sur le bouton ci-dessous :{% endtrans %}
</div>
<div style="padding-bottom: 40px; text-align:center;">
	<a href="{{data.url}}" rel="noopener" style="text-decoration:none;display:inline-block;text-align:center;padding:0.75575rem 1.3rem;font-size:0.925rem;line-height:1.5;border-radius:0.35rem;color:#ffffff;background-color:{{ brand.color}};border:0px;margin-right:0.75rem!important;font-weight:600!important;outline:none!important;vertical-align:middle" target="_blank">{% trans %}Activer le compte{% endtrans %}</a>
</div>
<div style="padding-bottom: 30px">{% trans %}Ce lien de réinitialisation du mot de passe expirera dans 24 heures. 
Si vous n'avez pas demandé de réinitialisation du mot de passe, 
aucune action supplémentaire n'est requise.{% endtrans %}</div>
<div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div>
<div style="padding-bottom: 50px; word-wrap: break-all;">
	<p style="margin-bottom: 10px;"> {% trans %}Le bouton ne fonctionne pas ? Cliquez sur le lien ou essayez de coller cette URL dans votre navigateur{% endtrans %} :</p>
	<a href="{{data.url}}" rel="noopener" target="_blank" style="text-decoration:none;color: {{ brand.color}}">{{data.url}}</a>
</div>
<!--end:Email content-->
{% endblock %}


{% block javascripts %} {% endblock %}